<div class="wrap hospital">
  <div class="tb-head">居民列表</div>
  <div class="tb-content">
    <div class="tb-wrap">
      <div class="opt">
        <table>
          <tr>
            <td>
              <div class="">
                <button type="button" class="btn btn-main">新增账户</button>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <table cellspacing="0" class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th>序号</th>
          <th>姓名</th>
          <th>账户</th>
          <th>所属角色</th>
          <th>所属组织机构</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>李大</td>
          <td>男</td>
          <td>29</td>
          <td>29</td>
          <td class="optCol"><a href="#">编辑</a><a href="#">健康档案</a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>李大</td>
          <td>男</td>
          <td>29</td>
          <td>29</td>
          <td class="optCol"><a href="#">编辑</a><a href="#">健康档案</a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>李大</td>
          <td>男</td>
          <td>29</td>
          <td>29</td>
          <td class="optCol"><a href="#">编辑</a><a href="#">健康档案</a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>李大</td>
          <td>男</td>
          <td>29</td>
          <td>29</td>
          <td class="optCol"><a href="#">编辑</a><a href="#">健康档案</a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>李大</td>
          <td>男</td>
          <td>29</td>
          <td>29</td>
          <td class="optCol"><a href="#">编辑</a><a href="#">健康档案</a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>李大</td>
          <td>男</td>
          <td>29</td>
          <td>29</td>
          <td class="optCol"><a href="#">编辑</a><a href="#">健康档案</a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>李大</td>
          <td>男</td>
          <td>29</td>
          <td>29</td>
          <td class="optCol"><a href="#">编辑</a><a href="#">健康档案</a></td>
        </tr>
        <tr>
          <td>1</td>
          <td>李大</td>
          <td>男</td>
          <td>29</td>
          <td>29</td>
          <td class="optCol"><a href="#">编辑</a><a href="#">健康档案</a></td>
        </tr>
        </tbody>
      </table>
      <div class="pagenation clearfix">
        <a href="#">上一页</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <span>...</span>
        <a href="#">15</a>
        <a href="#">下一页</a>
        <form action="#" method="post">
          <span>共5页</span><span>到第<input type="text" value="1">页 <input type="submit" class="btn btn-main" value="确定"/></span>
        </form>
      </div>
    </div>
  </div>
</div>