<div class="wrap xzqy">
  <div class="tb-head">社区站展示管理</div>
  <div class="tb-content">
    <div class="tb-wrap">
      <div class="opt clearfix">
        <div class="pull-left">
          <form action="#" class="form-inline" onsubmit="return false">
            <label for="">西山社区卫生站</label>
            <select name="#" class="form-control">
              <option value="请选择">省</option>
              <option value="请选择">广东</option>
            </select>
            <input type="submit" class="btn btn-main" value="查询"/>
          </form>
        </div>
        <div class="pull-right">
          <button type="button" class="btn btn-main">导出</button>
        </div>
      </div>
      <table cellspacing="0" class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th width="20%">服务项目</th>
          <th colspan="2" width="30%">统计指标（辖区内档案）</th>
          <th width="25%">当季新增</th>
          <th width="25%">当年累计</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="8">健康教育</td>
            <td rowspan="2">健康教育资料</td>
            <td>种类</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>发放数量</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="2">健康教育讲座</td>
            <td>次数</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>参与人数</td>
            <td><a href="#">33</a></td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="2">健康教育活动</td>
            <td>次数</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>覆盖人数</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="2">健康教育培训</td>
            <td>次数</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>培训人数</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td rowspan="4">0-6岁儿童健康管理</td>
            <td colspan="2">新生儿访视人数</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">满6周岁血红蛋白检测人数</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">满6周岁听力筛查人数</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">儿童建档人数</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td rowspan="3">孕产妇健康管理</td>
            <td colspan="2">孕期接受5次及以上随访服务的孕产妇数</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">产后访视人数</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">孕产妇建档人数</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td rowspan="3">老年人健康管理</td>
            <td colspan="2">65岁及以上建档人数</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">评估人数（完成自理能力评估表）</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">体检人数（完成实验室检查）</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td rowspan="3">35岁及以上高血压患者健康管理</td>
            <td colspan="2">35岁及以上高血压患者建档人数</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">体检人数</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">最近一次随访血压达标人数</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td rowspan="3">35岁及以上2型糖尿病患者健康管理</td>
            <td colspan="2">35岁及以上2型糖尿病患者建档人数</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">体检人数</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">最近一次随访空腹血糖达标人数</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td rowspan="3">重性精神疾病患者健康管理</td>
            <td colspan="2">重性精神疾病患者建档人数</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">体检人数</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">最近一次随访时分类为病情稳定的患者数</td>
            <td></td>
            <td></td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>