<div class="wrap clinicList">
    <div class="tb-head">义诊列表</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="opt clearfix">
                <div class="pull-left">
                    <from action="#" class="form-inline">
                        <select name="#" class="form-control">
                            <option value="请选择">省</option>
                            <option value="请选择">广东</option>
                        </select>
                        <select name="#" class="form-control">
                            <option value="请选择">市</option>
                            <option value="请选择">深圳</option>
                        </select>
                        <select name="#" class="form-control">
                            <option value="请选择">区</option>
                            <option value="请选择">南山</option>
                        </select>
                        <select name="#" class="form-control">
                            <option value="请选择">社区卫生站</option>
                        </select>
                        <input type="submit" class="btn btn-main" value="查询" />
                    </from>
                </div>
                <div class="pull-right">
                    <button class="btn btn-main" type="button">删除</button>
                    <button class="btn btn-main" type="button">新增义诊</button>
                </div>
            </div>
            <table cellspacing="0" class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th class="check"></th>
                    <th class="col-xs-1">序号</th>
                    <th>社区卫生站</th>
                    <th>主题</th>
                    <th>组织者</th>
                    <th>时间</th>
                    <th>地点</th>
                    <th>医师</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>福光社康</td>
                    <td>慢性炎症专项问诊</td>
                    <td>张三</td>
                    <td>2017-02-03</td>
                    <td>崇文花园社区活动中心</td>
                    <td>李XX</td>
                    <td class="optCol"><a href="#">查看详情</a><a href="#">编辑</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>福光社康</td>
                    <td>慢性炎症专项问诊</td>
                    <td>张三</td>
                    <td>2017-02-03</td>
                    <td>崇文花园社区活动中心</td>
                    <td>李XX</td>
                    <td class="optCol"><a href="#">查看详情</a><a href="#">编辑</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>福光社康</td>
                    <td>慢性炎症专项问诊</td>
                    <td>张三</td>
                    <td>2017-02-03</td>
                    <td>崇文花园社区活动中心</td>
                    <td>李XX</td>
                    <td class="optCol"><a href="#">查看详情</a><a href="#">编辑</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>福光社康</td>
                    <td>慢性炎症专项问诊</td>
                    <td>张三</td>
                    <td>2017-02-03</td>
                    <td>崇文花园社区活动中心</td>
                    <td>李XX</td>
                    <td class="optCol"><a href="#">查看详情</a><a href="#">编辑</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>福光社康</td>
                    <td>慢性炎症专项问诊</td>
                    <td>张三</td>
                    <td>2017-02-03</td>
                    <td>崇文花园社区活动中心</td>
                    <td>李XX</td>
                    <td class="optCol"><a href="#">查看详情</a><a href="#">编辑</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>福光社康</td>
                    <td>慢性炎症专项问诊</td>
                    <td>张三</td>
                    <td>2017-02-03</td>
                    <td>崇文花园社区活动中心</td>
                    <td>李XX</td>
                    <td class="optCol"><a href="#">查看详情</a><a href="#">编辑</a></td>
                </tr>
                </tbody>
            </table>
            <div class="pagenation clearfix">
                <a href="#">上一页</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <span>...</span>
                <a href="#">15</a>
                <a href="#">下一页</a>
                <form action="#" method="post">
                    <span>共5页</span><span>到第<input type="text" value="1">页 <input type="submit" class="btn btn-main" value="确定"/></span>
                </form>
            </div>
        </div>
    </div>
</div>