<div class="wrap communityUser">
    <div class="tb-head">社区卫生站人员管理</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="opt clearfix">
                <div class="pull-left">
                    <form action="#" class="form-inline" onsubmit="return false">
                        <input type="text" class="form-control" placeholder="请输入姓名" />
                        <select name="#" class="form-control">
                            <option value="请选择">所有职务</option>
                            <option value="请选择">主任医师</option>
                        </select>
                        <select name="#" class="form-control">
                            <option value="请选择">所属角色</option>
                            <option value="请选择">健教专干</option>
                        </select>
                        <select name="#" class="form-control">
                            <option value="请选择">所属单位</option>
                            <option value="请选择">xx社区医院</option>
                        </select>
                        <input type="submit" class="btn btn-main" value="查询" />
                    </form>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-main" data-toggle="modal" data-target="#modal_communityUser">添加</button>
                    <button type="button" class="btn btn-main" data-toggle="modal" data-target="#modal_communityUser">修改</button>
                    <button type="button" class="btn btn-main">删除</button>
                    <button type="button" class="btn btn-main">解绑</button>
                </div>
            </div>
            <table cellspacing="0" class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>学历</th>
                    <th>单位</th>
                    <th>科室</th>
                    <th>职务</th>
                    <th>职称</th>
                    <th>全/兼职</th>
                    <th>所属角色</th>
                    <th>手机号码</th>
                    <th>绑定ID</th>
                    <th>创建时间</th>
                    <th>最近登录时间</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>张某某</td>
                    <td>男</td>
                    <td>50</td>
                    <td>硕士</td>
                    <td>XX医院</td>
                    <td>内科</td>
                    <td>医师</td>
                    <td>主任医师</td>
                    <td>健教专干</td>
                    <td>兼职</td>
                    <td>13823373258</td>
                    <td>9774d56d682e549c</td>
                    <td>2000-01-01 00:00:00</td>
                    <td>2000-01-01 00:00:00</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>张某某</td>
                    <td>男</td>
                    <td>50</td>
                    <td>硕士</td>
                    <td>XX医院</td>
                    <td>内科</td>
                    <td>医师</td>
                    <td>主任医师</td>
                    <td>健教专干</td>
                    <td>兼职</td>
                    <td>13823373258</td>
                    <td>9774d56d682e549c</td>
                    <td>2000-01-01 00:00:00</td>
                    <td>2000-01-01 00:00:00</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>张某某</td>
                    <td>男</td>
                    <td>50</td>
                    <td>硕士</td>
                    <td>XX医院</td>
                    <td>内科</td>
                    <td>医师</td>
                    <td>主任医师</td>
                    <td>健教专干</td>
                    <td>兼职</td>
                    <td>13823373258</td>
                    <td>9774d56d682e549c</td>
                    <td>2000-01-01 00:00:00</td>
                    <td>2000-01-01 00:00:00</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>张某某</td>
                    <td>男</td>
                    <td>50</td>
                    <td>硕士</td>
                    <td>XX医院</td>
                    <td>内科</td>
                    <td>医师</td>
                    <td>主任医师</td>
                    <td>健教专干</td>
                    <td>兼职</td>
                    <td>13823373258</td>
                    <td>9774d56d682e549c</td>
                    <td>2000-01-01 00:00:00</td>
                    <td>2000-01-01 00:00:00</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>张某某</td>
                    <td>男</td>
                    <td>50</td>
                    <td>硕士</td>
                    <td>XX医院</td>
                    <td>内科</td>
                    <td>医师</td>
                    <td>主任医师</td>
                    <td>健教专干</td>
                    <td>兼职</td>
                    <td>13823373258</td>
                    <td>9774d56d682e549c</td>
                    <td>2000-01-01 00:00:00</td>
                    <td>2000-01-01 00:00:00</td>
                </tr>
                </tbody>
            </table>
            <div class="pagenation clearfix">
                <a href="#">上一页</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <span>...</span>
                <a href="#">15</a>
                <a href="#">下一页</a>
                <form action="#" method="post">
                    <span>共5页</span><span>到第<input type="text" value="1">页 <input type="submit" class="btn btn-main" value="确定"/></span>
                </form>
            </div>
        </div>
    </div>
</div>