<div class="wrap xzqy">
    <div class="tb-head">社区卫生站概况一览表</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="opt clearfix">
                <div class="pull-left">
                    <form action="#" class="form-inline" onsubmit="return false">
                        <select name="#" class="form-control">
                            <option value="请选择">省</option>
                            <option value="请选择">广东</option>
                        </select>
                        <select name="#" class="form-control">
                            <option value="请选择">市</option>
                            <option value="请选择">深圳</option>
                        </select>
                        <select name="#" class="form-control">
                            <option value="请选择">区</option>
                            <option value="请选择">南山</option>
                        </select>
                        <select name="#" class="form-control">
                            <option value="请选择">社区卫生站</option>
                        </select>
                        <input type="submit" class="btn btn-main" value="查询" />
                    </form>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-main">导出</button>
                </div>
            </div>
            <table cellspacing="0" class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>社区卫生站</th>
                    <th>详细地址</th>
                    <th>职工数</th>
                    <th>卫计人员数</th>
                    <th>防保人员数</th>
                    <th>辖区户籍人口</th>
                    <th>辖区总户数</th>
                    <th>辖区常住人口数</th>
                    <th>上年门诊量</th>
                    <th>上年住院人数</th>
                    <th>上年健教投入资金</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>平山村社康医院</td>
                    <td>深圳市南山区桃源街道崇文花园12栋一楼</td>
                    <td>50</td>
                    <td>50</td>
                    <td>10</td>
                    <td>20000</td>
                    <td>4000</td>
                    <td>25000</td>
                    <td>5000</td>
                    <td>200</td>
                    <td>120001</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>平山村社康医院</td>
                    <td>深圳市南山区桃源街道崇文花园12栋一楼</td>
                    <td>50</td>
                    <td>50</td>
                    <td>10</td>
                    <td>20000</td>
                    <td>4000</td>
                    <td>25000</td>
                    <td>5000</td>
                    <td>200</td>
                    <td>120001</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>平山村社康医院</td>
                    <td>深圳市南山区桃源街道崇文花园12栋一楼</td>
                    <td>50</td>
                    <td>50</td>
                    <td>10</td>
                    <td>20000</td>
                    <td>4000</td>
                    <td>25000</td>
                    <td>5000</td>
                    <td>200</td>
                    <td>120001</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>平山村社康医院</td>
                    <td>深圳市南山区桃源街道崇文花园12栋一楼</td>
                    <td>50</td>
                    <td>50</td>
                    <td>10</td>
                    <td>20000</td>
                    <td>4000</td>
                    <td>25000</td>
                    <td>5000</td>
                    <td>200</td>
                    <td>120001</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>平山村社康医院</td>
                    <td>深圳市南山区桃源街道崇文花园12栋一楼</td>
                    <td>50</td>
                    <td>50</td>
                    <td>10</td>
                    <td>20000</td>
                    <td>4000</td>
                    <td>25000</td>
                    <td>5000</td>
                    <td>200</td>
                    <td>120001</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>平山村社康医院</td>
                    <td>深圳市南山区桃源街道崇文花园12栋一楼</td>
                    <td>50</td>
                    <td>50</td>
                    <td>10</td>
                    <td>20000</td>
                    <td>4000</td>
                    <td>25000</td>
                    <td>5000</td>
                    <td>200</td>
                    <td>120001</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>平山村社康医院</td>
                    <td>深圳市南山区桃源街道崇文花园12栋一楼</td>
                    <td>50</td>
                    <td>50</td>
                    <td>10</td>
                    <td>20000</td>
                    <td>4000</td>
                    <td>25000</td>
                    <td>5000</td>
                    <td>200</td>
                    <td>120001</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>平山村社康医院</td>
                    <td>深圳市南山区桃源街道崇文花园12栋一楼</td>
                    <td>50</td>
                    <td>50</td>
                    <td>10</td>
                    <td>20000</td>
                    <td>4000</td>
                    <td>25000</td>
                    <td>5000</td>
                    <td>200</td>
                    <td>120001</td>
                </tr>
                </tbody>
            </table>
            <div class="pagenation clearfix">
                <a href="#">上一页</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <span>...</span>
                <a href="#">15</a>
                <a href="#">下一页</a>
                <form action="#" method="post">
                    <span>共5页</span><span>到第<input type="text" value="1">页 <input type="submit" class="btn btn-main" value="确定"/></span>
                </form>
            </div>
        </div>
    </div>
</div>