<div class="wrap">
    <div class="tb-head">异常数据数据监控&gt;&gt;修正异常数据</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <form action="#">
                <table class="table wrap-table">
                    <tbody>
                    <tr>
                        <td>异常数据表单:</td>
                        <td>常规体检表</td>
                    </tr>
                    <tr>
                        <td>表单创建时间:</td>
                        <td>2017-04-20 15:22:03</td>
                    </tr>
                    <tr>
                        <td>数据异常项:</td>
                        <td>血压高压值</td>
                    </tr>
                    <tr>
                        <td>数据异常描述:</td>
                        <td>数据超出测量仪器上限</td>
                    </tr>
                    <tr>
                        <td>修正数据值：</td>
                        <td>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="请输入数值" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>备注:</td>
                        <td>
                            <div class="col-sm-5">
                                <textarea name="" class="form-control"></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>责任人:</td>
                        <td>刘某栋</td>
                    </tr>
                    <tr>
                        <td>所属机构:</td>
                        <td>沙河街道社康站</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="col-sm-12 form-submit-btns text-center">
                                <button type="submit" class="btn btn-main btn-lg">保存</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>