<div class="wrap clinicDetail">
    <div class="tb-head">宣传资料播放管理&gt;&gt;宣传资料播放详情</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="opt"><a href="#">&lt;&lt;返回宣传资料列表</a></div>
            <div class="table-wrap">
                <table class="table wrap-table">
                    <tbody>
                    <tr>
                        <td>播放主题：</td>
                        <td>乳腺癌防治指南</td>
                    </tr>
                    <tr>
                        <td>播放日期：</td>
                        <td>2017年4月14日</td>
                    </tr>
                    <tr>
                        <td>播放地点：</td>
                        <td>桃园街道办崇文花园社区活动中心</td>
                    </tr>
                    <tr>
                        <td>播放负责人：</td>
                        <td>李XX</td>
                    </tr>
                    <tr>
                        <td>播放时长：</td>
                        <td>12小时</td>
                    </tr>
                    <tr>
                        <td>制作单位：</td>
                        <td>桃源街道社康中心</td>
                    </tr>
                    <tr>
                        <td>受教育人数：</td>
                        <td>xxxxxx</td>
                    </tr>
                    <tr>
                        <td>现场照片：</td>
                        <td>
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
