<div class="wrap communityClinicList">
    <div class="tb-head">35岁以上糖尿病患者健康管理统计表</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="opt clearfix">
                <div class="pull-left">
                    <from action="#" class="form-inline">
                        <select name="#" class="form-control">
                            <option value="请选择">省</option>
                            <option value="请选择">广东</option>
                        </select>
                        <select name="#" class="form-control">
                            <option value="请选择">市</option>
                            <option value="请选择">深圳</option>
                        </select>
                        <select name="#" class="form-control">
                            <option value="请选择">区</option>
                            <option value="请选择">南山</option>
                        </select>
                        <select name="#" class="form-control">
                            <option value="请选择">社区卫生站</option>
                        </select>
                        <select name="#" class="form-control">
                            <option value="请选择">年度</option>
                        </select>
                        <select name="#" class="form-control">
                            <option value="请选择">季度</option>
                        </select>
                        <input type="submit" class="btn btn-main" value="查询" />
                    </from>
                </div>
                <div class="pull-right">
                    <button class="btn btn-main">导出</button>
                </div>
            </div>
            <div class="table-wrap">
                <table class="table table-bordered inhoseActivity">
                    <thead>
                    <tr>
                        <th></th>
                        <th>当季新增</th>
                        <th>当年累计</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="f7Color col-sm-5">35岁及以上高血压患者建档人数</td>
                        <td>3</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td class="f7Color">体检人数</td>
                        <td>2</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td class="f7Color">最近一次随访空腹血糖达标人数</td>
                        <td>3</td>
                        <td>13</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
