<div class="wrap hospital">
    <div class="tb-head">医生列表</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="opt clearfix">
                <div class="pull-left">
                    <form action="#" class="form-inline" onsubmit="return false">
                        <select name="#" class="form-control">
                            <option value="所属医院">所属医院</option>
                            <option value="深圳北大医院">深圳北大医院</option>
                        </select>
                        <select name="#" class="form-control">
                            <option value="内科">内科</option>
                            <option value="外科">外科</option>
                        </select>
                        <select name="#" class="form-control">
                            <option value="呼吸内科">呼吸内科</option>
                        </select>
                        <input type="submit" class="btn btn-main" value="查询" />
                    </form>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-main">新增</button>
                    <button type="button" class="btn btn-main">删除</button>
                </div>
            </div>
            <table cellspacing="0" class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-1"></th>
                    <th class="col-sm-1">序号</th>
                    <th>医生姓名</th>
                    <th>医生等级</th>
                    <th>所属医院</th>
                    <th>所属科室</th>
                    <th>擅长疾病</th>
                    <th class="col-sm-1">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>黄金绒</td>
                    <td>主任医师</td>
                    <td>深圳北大医院</td>
                    <td>呼吸内科</td>
                    <td>呼吸道感染，炎症，肺部感染</td>
                    <td class="optCol"><a href="#">编辑</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>黄金绒</td>
                    <td>主任医师</td>
                    <td>深圳北大医院</td>
                    <td>呼吸内科</td>
                    <td>呼吸道感染，炎症，肺部感染</td>
                    <td class="optCol"><a href="#">编辑</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>黄金绒</td>
                    <td>主任医师</td>
                    <td>深圳北大医院</td>
                    <td>呼吸内科</td>
                    <td>呼吸道感染，炎症，肺部感染</td>
                    <td class="optCol"><a href="#">编辑</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>黄金绒</td>
                    <td>主任医师</td>
                    <td>深圳北大医院</td>
                    <td>呼吸内科</td>
                    <td>呼吸道感染，炎症，肺部感染</td>
                    <td class="optCol"><a href="#">编辑</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>黄金绒</td>
                    <td>主任医师</td>
                    <td>深圳北大医院</td>
                    <td>呼吸内科</td>
                    <td>呼吸道感染，炎症，肺部感染</td>
                    <td class="optCol"><a href="#">编辑</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>黄金绒</td>
                    <td>主任医师</td>
                    <td>深圳北大医院</td>
                    <td>呼吸内科</td>
                    <td>呼吸道感染，炎症，肺部感染</td>
                    <td class="optCol"><a href="#">编辑</a></td>
                </tr>
                </tbody>
            </table>
            <div class="pagenation clearfix">
                <a href="#">上一页</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <span>...</span>
                <a href="#">15</a>
                <a href="#">下一页</a>
                <form action="#" method="post">
                    <span>共5页</span><span>到第<input type="text" value="1">页 <input type="submit" class="btn btn-main" value="确定"/></span>
                </form>
            </div>
        </div>
    </div>
</div>