<div class="wrap clinicDetail">
    <div class="tb-head">体检管理&gt;&gt;体检详情</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="opt"><a href="#">&lt;&lt;返回体检列表</a></div>
            <div class="table-wrap">
                <table class="table wrap-table">
                    <tbody>
                    <tr>
                        <td>主题：</td>
                        <td>XX体检</td>
                    </tr>
                    <tr>
                        <td>时间：</td>
                        <td>2017年4月14日15:58:43</td>
                    </tr>
                    <tr>
                        <td>地点：</td>
                        <td>桃园街道办崇文花园社区活动中心</td>
                    </tr>
                    <tr>
                        <td>组织者：</td>
                        <td>李XX</td>
                    </tr>
                    <tr>
                        <td>参与专干：</td>
                        <td>李XX，赵XX，周XX，许XX </td>
                    </tr>
                    <tr>
                        <td>参与人数：</td>
                        <td>56</td>
                    </tr>
                    <tr>
                        <td>参与人群：</td>
                        <td>社区内小于12岁儿童</td>
                    </tr>
                    <tr>
                        <td>参与人员：</td>
                        <td>xxx,xxx,xxx,xx,xxx,xx,xxx,xxxxx,xx,xx,xx</td>
                    </tr>
                    <tr>
                        <td>医师：</td>
                        <td>xxx,xxx,xxx</td>
                    </tr>
                    <tr>
                        <td>总结：</td>
                        <td>
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                        </td>
                    </tr>
                    <tr>
                        <td>活动照片：</td>
                        <td>
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
