<div class="wrap clinicList">
    <div class="tb-head">交流圈内容管理</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="opt">
                <button class="btn btn-main" type="button">删除</button>
            </div>
            <table cellspacing="0" class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th>序号</th>
                    <th class="col-sm-8">帖子内容</th>
                    <th>发表者</th>
                    <th>发表时间</th>
                    <th>所属圈子</th>
                    <th>圈主</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>标题+详情</td>
                    <td>李点</td>
                    <td>2017-4-11 10:13:32</td>
                    <td>高血压交流圈</td>
                    <td>黄瑟</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>高血压防止+各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊各种内容详情啊之类的防止手短啊</td>
                    <td>李点</td>
                    <td>2017-4-11 10:13:32</td>
                    <td>高血压交流圈</td>
                    <td>黄瑟</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>标题+详情</td>
                    <td>李点</td>
                    <td>2017-4-11 10:13:32</td>
                    <td>高血压交流圈</td>
                    <td>黄瑟</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>标题+详情</td>
                    <td>李点</td>
                    <td>2017-4-11 10:13:32</td>
                    <td>高血压交流圈</td>
                    <td>黄瑟</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>标题+详情</td>
                    <td>李点</td>
                    <td>2017-4-11 10:13:32</td>
                    <td>高血压交流圈</td>
                    <td>黄瑟</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>标题+详情</td>
                    <td>李点</td>
                    <td>2017-4-11 10:13:32</td>
                    <td>高血压交流圈</td>
                    <td>黄瑟</td>
                </tr>
                </tbody>
            </table>
            <div class="pagenation clearfix">
                <a href="#">上一页</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <span>...</span>
                <a href="#">15</a>
                <a href="#">下一页</a>
                <form action="#" method="post">
                    <span>共5页</span><span>到第<input type="text" value="1">页 <input type="submit" class="btn btn-main" value="确定"/></span>
                </form>
            </div>
        </div>
    </div>
</div>