<div class="wrap clinicDetail">
    <div class="tb-head">健康知识问卷活动&gt;&gt;健康知识问卷活动详情</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="table-wrap">
                <table class="table wrap-table table-bordered">
                    <tbody>
                    <tr>
                        <td>活动主题：</td>
                        <td>春季流行感冒义诊</td>
                    </tr>
                    <tr>
                        <td>活动时间：</td>
                        <td>2017-03-01</td>
                    </tr>
                    <tr>
                        <td>组织者 ：</td>
                        <td>xxx</td>
                    </tr>
                    <tr>
                        <td>参与专干：</td>
                        <td>李XX，赵XX，周XX，许XX </td>
                    </tr>
                    <tr>
                        <td>总结：</td>
                        <td>
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                        </td>
                    </tr>
                    <tr>
                        <td>活动照片：</td>
                        <td>
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
