<div class="wrap">
    <div class="tb-head">健康档案</div>
    <div class="tb-content">
        <div class="tb-wrap clearfix healthRecord">
            <table>
                <tr>
                    <td class="col-sm-5"></td>
                    <td><h3 class="title">李强的健康档案</h3></td>
                </tr>
                <tr>
                    <td>
                        <span>2015.03.05</span><i class="icon icon-point"></i>
                    </td>
                    <td>
                        <div>
                            <i class="icon_right"></i>
                            <p>居民健康档案封面</p>
                            <div class="docname"><span></span>城乡居民健康档案管理服务规范</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>2015.03.05</span><i class="icon icon-point"></i>
                    </td>
                    <td>
                        <div>
                            <i class="icon_right"></i>
                            <p>居民健康档案封面</p>
                            <div class="docname"><span></span>城乡居民健康档案管理服务规范</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>2015.03.05</span><i class="icon icon-point"></i>
                    </td>
                    <td>
                        <div>
                            <i class="icon_right"></i>
                            <p>居民健康档案封面</p>
                            <div class="docname"><span></span>城乡居民健康档案管理服务规范</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>2015.03.05</span><i class="icon icon-point"></i>
                    </td>
                    <td>
                        <div>
                            <i class="icon_right"></i>
                            <p>居民健康档案封面</p>
                            <div class="docname"><span></span>城乡居民健康档案管理服务规范</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>2015.03.05</span><i class="icon icon-point"></i>
                    </td>
                    <td>
                        <div>
                            <i class="icon_right"></i>
                            <p>居民健康档案封面</p>
                            <div class="docname"><span></span>城乡居民健康档案管理服务规范</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>