<div class="wrap communityClinicList">
    <div class="tb-head">入户健康教育活动统计表</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="opt"><button class="btn btn-main">导出</button></div>
            <div class="table-wrap">
                <table class="table table-bordered inhoseActivity">
                    <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th>当季新增</th>
                        <th>当年累计</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                       <td rowspan="2" class="col-sm-2">健康教育资料</td>
                       <td class="col-sm-1">种类</td>
                       <td>3</td>
                       <td>13</td>
                    </tr>
                    <tr>
                        <td class="col-sm-1">发放数量</td>
                        <td>2</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td rowspan="2">健康知识讲座</td>
                        <td class="col-sm-1">次数</td>
                        <td>3</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td class="col-sm-1">参与人数</td>
                        <td>2</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td rowspan="2">健康教育活动</td>
                        <td class="col-sm-1">次数</td>
                        <td>3</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td class="col-sm-1">覆盖人数</td>
                        <td>2</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td rowspan="2">健康教育培训</td>
                        <td class="col-sm-1">次数</td>
                        <td>3</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td class="col-sm-1">培训人数</td>
                        <td>2</td>
                        <td>7</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
