<div class="wrap">
  <div class="tb-head">撰写健康建议</div>
  <div class="tb-content">
      <table class="table wrap-table table-border-none">
        <tbody>
          <tr>
            <td>姓名:李强</td>
            <td>性别:男</td>
            <td>年龄:30岁</td>
            <td>所属人群:一般人</td>
            <td rowspan="3" class="optCol border-bottom">
              <a>撰写健康建议</a>
            </td>
          </tr>
          <tr>
            <td colspan="3">本人电话:13988888888</td>
            <td>身份证号码:XXXXXXXXXXXXXXXXXXXXXX</td>
          </tr>
          <tr>
            <td class="border-bottom">血型：A型</td>
            <td class="border-bottom">RH阴性：否</td>
            <td class="border-bottom">疾病既往史：冠心病</td>
            <td class="border-bottom">药物过敏史：青霉素</td>
          </tr>

          <tr>
            <td colspan="5">随访记录</td>
          </tr>
          <tr>
            <td colspan="5">
              <div class="auto">
                <textarea name="" placeholder="请输入随访记录，最多1000字" class="form-control" id="" cols="30" rows="10"></textarea>
              </div>

            </td>
          </tr>


          <tr>
            <td colspan="5">健康建议</td>
          </tr>
          <tr>
            <td colspan="5">
              <div class="auto">
                <textarea name="" placeholder="请输入健康建议，最多1000字" class="form-control" id="" cols="30" rows="10"></textarea>
              </div>

            </td>
          </tr>

          <tr>
            <td colspan="5" class="border-bottom">
              <div class="text-right">
                <button class="btn btn-main">保存</button>
              </div>

            </td>
          </tr>




          <tr>
            <td colspan="5">随访记录</td>
          </tr>
          <tr>
            <td colspan="5">头晕XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX                                               </td>
          </tr>
          <tr>
            <td colspan="5">健康建议</td>
          </tr>
          <tr>
            <td colspan="5">多吃蔬菜，多喝水，少玩手机，多运动</td>
          </tr>
          <tr>
            <td colspan="5" class="border-bottom">
                <div class="text-right">
                  2017-04-12 10:26:24&nbsp;&nbsp;&nbsp;张海医生
                </div>
            </td>
          </tr>


          <tr>
            <td colspan="5">随访记录</td>
          </tr>
          <tr>
            <td colspan="5">头晕XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX                                               </td>
          </tr>
          <tr>
            <td colspan="5">健康建议</td>
          </tr>
          <tr>
            <td colspan="5">多吃蔬菜，多喝水，少玩手机，多运动</td>
          </tr>
          <tr>
            <td colspan="5" class="border-bottom">
                <div class="text-right">
                  2017-04-12 10:26:24&nbsp;&nbsp;&nbsp;张海医生
                </div>
            </td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  require([
    'jquery'
  ], function($) {
    $('#js-new-seminar-date').datetimepicker({
      language: 'zh-CN',
      weekStart: 1,
      todayBtn: 1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
      minView: 2,
      forceParse: 0
    });
  });
</script>
