<div class="wrap msgCenter">
    <div class="tb-head">消息中心</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <ul>
                <li>
                    <p>居民资料修改已经通过审核</p>
                    <p>居民资料修改已经通过审核,<a href="javascript:void(0)">查看详情</a></p>
                </li>
                <li>
                    <p>居民资料修改已经通过审核</p>
                    <p>居民资料修改已经通过审核,<a href="javascript:void(0)">查看详情</a></p>
                </li>
                <li>
                    <p>居民资料修改已经通过审核</p>
                    <p>居民资料修改已经通过审核,<a href="javascript:void(0)">查看详情</a></p>
                </li>
                <li>
                    <p>居民资料修改已经通过审核</p>
                    <p>居民资料修改已经通过审核,<a href="javascript:void(0)">查看详情</a></p>
                </li>
                <li>
                    <p>居民资料修改已经通过审核</p>
                    <p>居民资料修改已经通过审核,<a href="javascript:void(0)">查看详情</a></p>
                </li>
                <li>
                    <p>居民资料修改已经通过审核</p>
                    <p>居民资料修改已经通过审核,<a href="javascript:void(0)">查看详情</a></p>
                </li>
                <li>
                    <p>居民资料修改已经通过审核</p>
                    <p>居民资料修改已经通过审核,<a href="javascript:void(0)">查看详情</a></p>
                </li>
                <li>
                    <p>居民资料修改已经通过审核</p>
                    <p>居民资料修改已经通过审核,<a href="javascript:void(0)">查看详情</a></p>
                </li>
                <li>
                    <p>居民资料修改已经通过审核</p>
                    <p>居民资料修改已经通过审核,<a href="javascript:void(0)">查看详情</a></p>
                </li>
                <li>
                    <p>居民资料修改已经通过审核</p>
                    <p>居民资料修改已经通过审核,<a href="javascript:void(0)">查看详情</a></p>
                </li>
                <li>
                    <p>居民资料修改已经通过审核</p>
                    <p>居民资料修改已经通过审核,<a href="javascript:void(0)">查看详情</a></p>
                </li>
                <li>
                    <p>居民资料修改已经通过审核</p>
                    <p>居民资料修改已经通过审核,<a href="javascript:void(0)">查看详情</a></p>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        require(['jquery'],function ($) {
            var _self = $('#msgCenter');
            _self.find('li').on('click',function(event){
                _self.find('li').removeClass('active');
                _self.find('li p:last-child').hide();
                $(this).addClass('active');
                $(this).find('p').show();
            });
        });
    </script>
</div>