<div class="wrap newPersonnel">
    <div class="tb-head">服务分区人员设置&gt;&gt;新增服务人员分区</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="opt">
                <div class="form-inline">
                    <select name="#" class="form-control">
                        <option value="请选择">请选择社区卫生站</option>
                    </select>
                    <select name="#" class="form-control">
                        <option value="请选择">请选择服务分区</option>
                    </select>
                </div>
            </div>
            <form action="" onsubmit="return false">
                <table class="table table-bordered table-form">
                    <tr>
                        <td class="col-sm-1">健教专干</td>
                        <td>
                            <div class="clearfix">
                                <div class="col-sm-5">
                                    <select name="" multiple class="multiple form-control">
                                        <option value="李某某">李某某</option>
                                        <option value="李某某">李某某</option>
                                        <option value="李某某">李某某</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-default">&gt;&gt;</button>
                                    <button class="btn btn-default">&lt;&lt;</button>
                                </div>
                                <div class="col-sm-5">
                                    <select name="" multiple class="multiple form-control">
                                        <option value="李某某">李某某</option>
                                        <option value="李某某">李某某</option>
                                        <option value="李某某">李某某</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-1">家庭医生</td>
                        <td>
                            <div class="clearfix">
                                <div class="col-sm-5">
                                    <select name="" multiple class="multiple form-control">
                                        <option value="李某某">李某某</option>
                                        <option value="李某某">李某某</option>
                                        <option value="李某某">李某某</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-default">&gt;&gt;</button>
                                    <button class="btn btn-default">&lt;&lt;</button>
                                </div>
                                <div class="col-sm-5">
                                    <select name="" multiple class="multiple form-control">
                                        <option value="李某某">李某某</option>
                                        <option value="李某某">李某某</option>
                                        <option value="李某某">李某某</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-1">护士</td>
                        <td>
                            <div class="clearfix">
                                <div class="col-sm-5">
                                    <select name="" multiple class="multiple form-control">
                                        <option value="李某某">李某某</option>
                                        <option value="李某某">李某某</option>
                                        <option value="李某某">李某某</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-default">&gt;&gt;</button>
                                    <button class="btn btn-default">&lt;&lt;</button>
                                </div>
                                <div class="col-sm-5">
                                    <select name="" multiple class="multiple form-control">
                                        <option value="李某某">李某某</option>
                                        <option value="李某某">李某某</option>
                                        <option value="李某某">李某某</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="opt save">
                    <button class="btn btn-main">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>