<div class="wrap lectureList">
    <div class="tb-head">运营数据统计</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="opt clearfix">
                <div class="pull-left">
                    <from action="#" class="form-inline">
                        <select name="" class="form-control">
                            <option value="东莞市">东莞市</option>
                            <option value="深圳市">深圳市</option>
                        </select>
                        <div class="input-group date form_date col-sm-3" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input id="js_date_start" class="form-control" size="16" type="text" value="" readonly="">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;<div class="input-group date form_date col-sm-3" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input id="js_date_end" class="form-control" size="16" type="text" value="" readonly="">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" class="btn btn-main" value="查询" />
                    </from>
                </div>
            </div>
            <table cellspacing="0" class="table table-striped table-hover table-bordered center">
                <thead>
                <tr>
                    <th>已建档（户）</th>
                    <th>已随访（人）</th>
                    <th>已挂号就诊（人）</th>
                    <th>已免疫（人）</th>
                    <th>家庭医生已签约（人）</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>376</td>
                    <td>465</td>
                    <td>271</td>
                    <td>132</td>
                    <td>97</td>
                </tr>
                </tbody>
            </table>
            <div class="show-next"><a href="#">查看下一级单位的统计数据</a></div>
        </div>
    </div>
</div>