<div class="wrap">
    <div class="tb-head">居民管理&gt;&gt;编辑用户资料</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <form action="#">
                <table class="table wrap-table">
                    <tbody>
                    <tr>
                        <td>姓名:</td>
                        <td>
                            <div class="form-inline"><input type="text" class="form-control" placeholder="姓名"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>性别:</td>
                        <td>
                            <div class="form-inline">
                                <label><input type="radio" name="sex">男</label><label><input type="radio" name="sex">女</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>民族:</td>
                        <td>
                            <div class="form-inline">
                                <select name="" class="form-control">
                                    <option value="汉">汉</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>与户主关系:</td>
                        <td>
                            <div class="form-inline">
                                <select name="" class="form-control">
                                    <option value="妻子">妻子</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>身份证号码:</td>
                        <td>
                            <div class="col-sm-6"><input type="text" class="form-control" placeholder="请输入身份证号码"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>出生日期:</td>
                        <td>
                            <div class="form-inline"><input type="text" class="form-control" placeholder="yyyy-mm-dd"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>本人/监护人电话:</td>
                        <td>
                           <div class="form-inline">
                               <input type="text" class="form-control" placeholder="请输入本人或监护人电话">
                           </div>
                        </td>
                    </tr>
                    <tr>
                        <td>户籍地址:</td>
                        <td>
                            <div class="form-inline">
                                <input type="text" class="form-control" placeholder="请输入本人或监护人电话">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>现住址:</td>
                        <td>
                            <div class="form-inline">
                                <input type="text" class="form-control" placeholder="请输入现住址">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="col-sm-12 form-submit-btns text-center">
                                <button type="submit" class="btn btn-main btn-lg">保存</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>