<div class="wrap">
  <div class="tb-head">健康教育专题讨论会&gt;&gt;研讨会详情</div>
  <div class="tb-content">
    <div class="tb-wrap">
      <table class="table wrap-table">
        <tbody>
          <tr>
            <td>主题：</td>
            <td>XXXXXXXXXXXXXXXXXXXXXXXX</td>
          </tr>
          <tr>
            <td>时间：</td>
            <td>2017-03-01 10:00</td>
          </tr>
          <tr>
            <td>地点：</td>
            <td>XXXXXXXXXXXXXXX</td>
          </tr>
          <tr>
            <td>主持人：</td>
            <td>孟XX</td>
          </tr>
          <tr>
            <td>记录人：</td>
            <td>XXXXXXXXXXXXXXXXXXXXXX</td>
          </tr>
          <tr>
            <td>参与专干：</td>
            <td>XXXXXXXXXXXXXXXXXXXXXX </td>
          </tr>
          <tr>
            <td>总结：</td>
            <td>
              XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
              XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
              XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            </td>
          </tr>
          <tr>
            <td>活动照片：</td>
            <td>
              <img class="form-img" src="../static/rss/example.jpg" alt="">
              <img class="form-img" src="../static/rss/example.jpg" alt="">
              <img class="form-img" src="../static/rss/example.jpg" alt="">
              <img class="form-img" src="../static/rss/example.jpg" alt="">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
