<div class="wrap expenditure">
    <div class="tb-head">任务监控</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="opt tasklist">
                <form action="#" class="form-inline" onsubmit="return false">
                    <div class="input-group date form_date col-sm-2" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input id="data_start" class="form-control" size="16" type="text" value="" readonly="">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>~
                    <div class="input-group date form_date col-sm-2" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input id="data_end" class="form-control" size="16" type="text" value="" readonly="">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <input type="submit" class="btn btn-main" value="查询" />
                </form>
            </div>
            <table cellspacing="0" class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th class="col-xs-1">序号</th>
                    <th>专干姓名</th>
                    <th>手机号码</th>
                    <th>所属社区卫生站</th>
                    <th>上级领导</th>
                    <th>领导联系方式</th>
                    <th>未及时完成的任务数</th>
                    <th>未及时处理的问专家消息数</th>
                    <th>未及时处理的疫苗免疫数</th>
                    <th>时间范围</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>李某某</td>
                    <td>13107255623</td>
                    <td>桃园社区卫生站</td>
                    <td>涂某某</td>
                    <td>075502586548</td>
                    <td>2</td>
                    <td>10</td>
                    <td>2</td>
                    <td>2017-04-10~2017-04-10</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>李某某</td>
                    <td>13107255623</td>
                    <td>桃园社区卫生站</td>
                    <td>涂某某</td>
                    <td>075502586548</td>
                    <td>2</td>
                    <td>10</td>
                    <td>2</td>
                    <td>2017-04-10~2017-04-10</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>李某某</td>
                    <td>13107255623</td>
                    <td>桃园社区卫生站</td>
                    <td>涂某某</td>
                    <td>075502586548</td>
                    <td>2</td>
                    <td>10</td>
                    <td>2</td>
                    <td>2017-04-10~2017-04-10</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>李某某</td>
                    <td>13107255623</td>
                    <td>桃园社区卫生站</td>
                    <td>涂某某</td>
                    <td>075502586548</td>
                    <td>2</td>
                    <td>10</td>
                    <td>2</td>
                    <td>2017-04-10~2017-04-10</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>李某某</td>
                    <td>13107255623</td>
                    <td>桃园社区卫生站</td>
                    <td>涂某某</td>
                    <td>075502586548</td>
                    <td>2</td>
                    <td>10</td>
                    <td>2</td>
                    <td>2017-04-10~2017-04-10</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>李某某</td>
                    <td>13107255623</td>
                    <td>桃园社区卫生站</td>
                    <td>涂某某</td>
                    <td>075502586548</td>
                    <td>2</td>
                    <td>10</td>
                    <td>2</td>
                    <td>2017-04-10~2017-04-10</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>李某某</td>
                    <td>13107255623</td>
                    <td>桃园社区卫生站</td>
                    <td>涂某某</td>
                    <td>075502586548</td>
                    <td>2</td>
                    <td>10</td>
                    <td>2</td>
                    <td>2017-04-10~2017-04-10</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>李某某</td>
                    <td>13107255623</td>
                    <td>桃园社区卫生站</td>
                    <td>涂某某</td>
                    <td>075502586548</td>
                    <td>2</td>
                    <td>10</td>
                    <td>2</td>
                    <td>2017-04-10~2017-04-10</td>
                </tr>
                </tbody>
            </table>
            <div class="pagenation clearfix">
                <a href="#">上一页</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <span>...</span>
                <a href="#">15</a>
                <a href="#">下一页</a>
                <form action="#" method="post">
                    <span>共5页</span><span>到第<input type="text" value="1">页 <input type="submit" class="btn btn-main" value="确定"/></span>
                </form>
            </div>
        </div>
    </div>
    <div id="modal_expenditure" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="modal_expenditureLabel">新增经费开支</h4>
                </div>
                <div class="modal-body">
                    <form action="#">
                        <table class="table table-bordered">
                            <tr>
                                <td class="col-sm-2">社区服务站</td>
                                <td>西山社区卫生服务站</td>
                            </tr>
                            <tr>
                                <td>支出项目</td>
                                <td><input type="text" class="form-control" /></td>
                            </tr>
                            <tr>
                                <td>支出金额</td>
                                <td><input type="text" class="form-control" /></td>
                            </tr>
                            <tr>
                                <td>日期</td>
                                <td><input type="text" class="form-control" /></td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td><textarea name="" class="form-control"></textarea></td>
                            </tr>
                        </table>
                    </form>
                    <div class="operation">
                        <button class="btn btn-main" type="submit">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    require([
        'jquery'
    ], function($){
        $('#data_start').datetimepicker({
            language:  'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            format:'yyyy-mm-dd',
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            maxView: 2,
            forceParse: 0
        });
        $('#data_end').datetimepicker({
            language:  'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    });
</script>