.sales-data {
    width: 100%;
    border: 1px solid #eee;
    padding: 20px 0;
    margin-bottom: 30px;
}
.sales-data::after {
    content: " ";
    display: table;
    clear: both;
}
.sales-data .item {
    width: 33.333333%;
    float: left;
    text-align: center;
}
.sales-data .item p {
    font-size: 30px;
    font-weight: 700;
    color: #c00;
}
.sales-data .item span, .sales-data .item sub {
    font-size: 12px;
}