<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/layout_inhabitant.css" />
    <link rel="stylesheet" href="../static/css/article_detail.css" />
    <script type="text/javascript" src="../static/js/lib/adaptive.js"></script>
    <script>
        window['adaptive'].desinWidth = 750;// 设计图宽度
        window['adaptive'].baseFont = 30;// 没有缩放时的字体大小
        window['adaptive'].maxWidth = 750;// 页面最大宽度 默认540
        window['adaptive'].init();// 调用初始化方法
    </script>
    <title>专家讲堂-文章详情</title>
</head>
<body>

</body>
<script type="text/x-dot-template" id="js-article-detail">
    <article>
        <h1 class="article_title">{{= it.article.article_title}}</h1>
        <div class="author"><span>{{= it.article.article_author}}</span><span>{{= it.article.create_dateStr}}</span></div>
        <div class="article_content">
            <img src="{{= it.article.article_img_url}}" alt="示例图片">
            <div>
                <p>{{= it.article.article_content}}</p>
            </div>
        </div>
    </article>
</script>
<script src="../../../../static/assets/zepto-master/dist/zepto.min.js"></script>
<script src="../../../../static/assets/zepto-master/dist/module/callbacks.js"></script>
<script src="../../../../static/assets/zepto-master/dist/module/deferred.js"></script>
<script src="../../../../static/assets/doT-master/doT.min.js"></script>
<script src="../static/js/common.js"></script>
<script>
    var url = "http://192.168.1.42:8080/web/hecadre/getarticlemod";

    var params = common.param(location.href);
    console.log(params);
    common.demo = false;
    common.demoUrl = "../rss/articleDetail.json";
    if(common.demo){
	    params = {
	    	"article_id": 1
      };
    }
    common.fetch({
      url: url,
      data: JSON.stringify(params),
      success: function(data){
	      data = data || {};
	      if(data.ret_code === 1){
		      var template = doT.template($("#js-article-detail").html());
		      var htmlStr = template(data.ret_data);
		      $(document.body).append(htmlStr);
	      }else{
		      alert(data.ret_msg || "查询信息错误！");
	      }


      }
    })
</script>
</html>