.ir-form-wrap {
    padding: 20px 0;
}
.ir-title {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.upload-btn {
    position: relative;
    margin-right: 15px;
    overflow: hidden;
}
.upload-btn span{
    cursor: pointer;
}
.upload-btn #file {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}