<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>健康教育活动记录表</title>
  <script src="static/assets/adaptive-master/js/adaptive-version2.js"></script>
  <script>
		// 设计图宽度
		window['adaptive'].desinWidth = 1920;
		// body 字体大小 会将body字体大小设置为 baseFont / 100 + 'rem'
		window['adaptive'].baseFont = 24;
		window['adaptive'].maxWidth = 1920;
		window['adaptive'].init();
  </script>
  <!--<link rel="stylesheet" href="./static/assets/bootstrap/dist/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
<div class="newcare-form-header">
  健康教育活动记录表
</div>
<div class="container">
  <div>&nbsp;</div>
  <table class="tb tb-auto tb-border">
    <tbody>
      <tr>
        <td class="text-center w222">活动时间</td>
        <td colspan="2">
          <ul class="td-lst clearfix">
            <li><input type="date"></li>
          </ul>
        </td>
        <td class="text-center w222">活动地点</td>
        <td colspan="2">
          <ul class="td-lst clearfix">
            <li class="auto"><input type="text" class="auto"></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center w222">活动形式</td>
        <td colspan="2">
          <ul class="td-lst clearfix">
            <li class="auto"><input type="text" class="auto"></li>
          </ul>
        </td>
        <td class="text-center w222">组织者</td>
        <td colspan="2">
          <ul class="td-lst clearfix">
            <li class="auto"><input type="text" class="auto"></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center w222">活动主题</td>
        <td colspan="4">
          <ul class="td-lst clearfix">
            <li class="w-auto">
              <textarea class="auto h200"></textarea>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center">接受健康教育人员类别</td>
        <td colspan="2">
          <ul class="td-lst clearfix">
            <li class="auto"><input type="text" class="auto"></li>
          </ul>
        </td>
        <td class="text-center">接受健康教育人数</td>
        <td colspan="2">
          <ul class="td-lst clearfix">
            <li class="auto"><input type="text" class="auto"></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center w222">健康教育资料发放种类及数量</td>
        <td colspan="4">
          <ul class="td-lst clearfix">
            <li class="w-auto">
              <textarea class="auto h200"></textarea>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center w222">活动内容</td>
        <td colspan="4">
          <ul class="td-lst clearfix">
            <li class="w-auto">
              <textarea class="auto h200"></textarea>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center w222">活动总结评价</td>
        <td colspan="4">
          <ul class="td-lst clearfix">
            <li class="w-auto">
              <textarea class="auto h200"></textarea>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center w222">存档材料请附后</td>
        <td colspan="4">
          <ul class="td-lst clearfix">
            <li>
              <input type="checkbox">
              <span>书面材料</span>
            </li>
            <li>
              <input type="checkbox">
              <span>图片材料</span>
            </li>
            <li>
              <input type="checkbox">
              <span>印刷材料</span>
            </li>
            <li>
              <input type="checkbox">
              <span>影音材料</span>
            </li>
            <li>
              <input type="checkbox">
              <span>签到表</span>
            </li>
            <li>
              <input type="checkbox">
              <span>其他材料</span>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="text-center">填表人（签字）</td>
        <td>
          <ul class="td-lst clearfix">
            <li><input type="text"></li>
          </ul>
        </td>
        <td class="text-center">负责人（签字）</td>
        <td>
          <ul class="td-lst clearfix">
            <li><input type="text"></li>
          </ul>
        </td>
        <td class="text-center">填表时间</td>
        <td>
          <ul class="td-lst clearfix">
            <li><input type="date"></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>