<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>居民健康档案</title>
  <script src="static/assets/adaptive-master/js/adaptive-version2.js"></script>
  <script>
		// 设计图宽度
		window['adaptive'].desinWidth = 1920;
		// body 字体大小 会将body字体大小设置为 baseFont / 100 + 'rem'
		window['adaptive'].baseFont = 24;
		window['adaptive'].maxWidth = 1920;
		window['adaptive'].init();
  </script>
  <!--<link rel="stylesheet" href="./static/assets/bootstrap/dist/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="./static/css/style.css">
  <link rel="stylesheet" href="static/css/residentHealthArchives.css">
</head>
<body>
<div class="newcare-form-header">
  居民健康档案
</div>
<div>
  <div class="container resident-code mt40">
    <ul class="clearfix ul-inline">
      <li>编号</li>
      <li><input type="text" class="w140"></li>
      <li><input type="text" class="w100"></li>
      <li><input type="text" class="w100"></li>
      <li><input type="text" class="w140"></li>
    </ul>
  </div>
  <div class="container resident-form mt40">
    <dl class="resident-form-item clearfix">
      <dt>姓名</dt>
      <dd>
        <input type="text">
      </dd>
    </dl>
    <dl class="resident-form-item clearfix">
      <dt>现住址</dt>
      <dd>
        <input type="text">
      </dd>
    </dl>
    <dl class="resident-form-item clearfix">
      <dt>户籍地址</dt>
      <dd>
        <input type="text">
      </dd>
    </dl>
    <dl class="resident-form-item clearfix">
      <dt>联系电话</dt>
      <dd>
        <input type="text">
      </dd>
    </dl>
    <dl class="resident-form-item clearfix">
      <dt>乡镇（街道）名称</dt>
      <dd>
        <input type="text">
      </dd>
    </dl>
    <dl class="resident-form-item clearfix">
      <dt>村（居）委会名称</dt>
      <dd>
        <input type="text">
      </dd>
    </dl>
    <dl class="resident-form-item clearfix">
      <dt>建档单位</dt>
      <dd>
        <input type="text">
      </dd>
    </dl>
    <dl class="resident-form-item clearfix">
      <dt>建档人</dt>
      <dd>
        <input type="text">
      </dd>
    </dl>
    <dl class="resident-form-item clearfix">
      <dt>责任医生</dt>
      <dd>
        <input type="text">
      </dd>
    </dl>
    <dl class="resident-form-item clearfix">
      <dt>建档日期</dt>
      <dd>
        <input type="text">
      </dd>
    </dl>
  </div>
</div>
</body>
</html>