<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>疫苗免疫程序</title>
  <script src="static/assets/adaptive-master/js/adaptive-version2.js"></script>
  <script>
		// 设计图宽度
		window['adaptive'].desinWidth = 1920;
		// body 字体大小 会将body字体大小设置为 baseFont / 100 + 'rem'
		window['adaptive'].baseFont = 24;
		window['adaptive'].maxWidth = 1920;
		window['adaptive'].init();
  </script>
  <!--<link rel="stylesheet" href="./static/assets/bootstrap/dist/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
<div class="newcare-form-header">
  疫苗免疫程序
</div>

<div class="container mt40">
  <table class="tb tb-auto tb-border">
    <thead>
      <tr>
        <th class="text-center w222">疫苗</th>
        <th class="text-center w222">接种对象月（年）龄</th>
        <th class="text-center w222">接种剂次</th>
        <th class="text-center w222">接种部位</th>
        <th class="text-center w222">接种途径</th>
        <th class="text-center w222">接种剂量/剂次</th>
        <th class="text-center">备注</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">乙肝疫苗</td>
        <td class="text-center">0、1、6月龄</td>
        <td class="text-center">3</td>
        <td class="text-center">上臂三角肌</td>
        <td class="text-center">肌内注射</td>
        <td class="text-center">酵母苗 5μg/0.5ml，CHO 苗 10 μg/1ml、20 μg/1ml</td>
        <td class="text-center">出生后24小时内接种第 1剂次，第 1、2剂次间隔 ≥28 天</td>
      </tr>
      <tr>
        <td class="text-center">卡介苗</td>
        <td class="text-center">出生时</td>
        <td class="text-center">1</td>
        <td class="text-center">上臂三角肌中部略下处</td>
        <td class="text-center">皮内注射</td>
        <td class="text-center">0.1ml</td>
        <td class="text-center"></td>
      </tr>
      <tr>
        <td class="text-center">脊灰疫苗</td>
        <td class="text-center">2、3、4月龄，4周岁</td>
        <td class="text-center">4</td>
        <td class="text-center"></td>
        <td class="text-center">口服</td>
        <td class="text-center">1粒</td>
        <td class="text-center">第 1、2剂次，第 2、3剂次间隔均≥ 28 天</td>
      </tr>
      <tr>
        <td class="text-center">百白破疫苗</td>
        <td class="text-center">3、4、5月龄，18～24月龄</td>
        <td class="text-center">4</td>
        <td class="text-center">上臂外侧三角肌</td>
        <td class="text-center">肌内注射</td>
        <td class="text-center">0.5ml</td>
        <td class="text-center">第 1、2剂次，第 2、3剂次间隔均≥ 28 天</td>
      </tr>
      <tr>
        <td class="text-center">白破疫苗</td>
        <td class="text-center">6周岁</td>
        <td class="text-center">1</td>
        <td class="text-center">上臂三角肌</td>
        <td class="text-center">肌内注射</td>
        <td class="text-center">0.5ml</td>
        <td class="text-center"></td>
      </tr>
      <tr>
        <td class="text-center">麻风疫苗（麻疹疫苗）</td>
        <td class="text-center">8月龄</td>
        <td class="text-center">1</td>
        <td class="text-center">上臂外侧三角肌下缘附着处</td>
        <td class="text-center">皮下注射</td>
        <td class="text-center">0.5ml</td>
        <td class="text-center"></td>
      </tr>
      <tr>
        <td class="text-center">麻腮风疫苗（麻腮疫苗、麻疹疫苗）</td>
        <td class="text-center">18 ～24 月</td>
        <td class="text-center">1</td>
        <td class="text-center">上臂外侧三角肌下缘附着处</td>
        <td class="text-center">皮下注射</td>
        <td class="text-center">0.5ml</td>
        <td class="text-center"></td>
      </tr>
      <tr>
        <td class="text-center">乙脑（减毒）</td>
        <td class="text-center">8月龄 ,2周岁</td>
        <td class="text-center">2</td>
        <td class="text-center">上臂外侧三角肌下缘附着处</td>
        <td class="text-center">皮下注射</td>
        <td class="text-center">0.5ml</td>
        <td class="text-center"></td>
      </tr>
      <tr>
        <td class="text-center">流脑 A</td>
        <td class="text-center">6～18 月龄</td>
        <td class="text-center">2</td>
        <td class="text-center">上臂外侧三角肌附着处</td>
        <td class="text-center">皮下注射</td>
        <td class="text-center">30 μg/0.5ml</td>
        <td class="text-center">第 1、2剂次间隔 3个月</td>
      </tr>
      <tr>
        <td class="text-center">流脑 A+C</td>
        <td class="text-center">3周岁 ,6周岁</td>
        <td class="text-center">2</td>
        <td class="text-center">上臂外侧三角肌附着处</td>
        <td class="text-center">皮下注射</td>
        <td class="text-center">100 μg/0.5ml</td>
        <td class="text-center">2剂次间隔≥ 3年；第 1剂次与 A群流脑疫苗第 2剂次间隔≥ 12个月</td>
      </tr>
      <tr>
        <td class="text-center">甲肝（减毒）</td>
        <td class="text-center">18 月龄</td>
        <td class="text-center">1</td>
        <td class="text-center">上臂外侧三角肌附着处</td>
        <td class="text-center">皮下注射</td>
        <td class="text-center">1ml</td>
        <td class="text-center"></td>
      </tr>
      <tr>
        <td class="text-center">出血热疫苗（双价）</td>
        <td class="text-center">16～60周岁</td>
        <td class="text-center">3</td>
        <td class="text-center">上臂外侧三角肌</td>
        <td class="text-center">肌内注射</td>
        <td class="text-center">1ml</td>
        <td class="text-center">接种第1剂次后14天接种第2剂次，第3剂次在第1剂次接种后6个月接种</td>
      </tr>
      <tr>
        <td class="text-center">炭疽疫苗</td>
        <td class="text-center">炭疽疫情发生时，病例或病畜间接接触者及疫点周围高危人群</td>
        <td class="text-center">1</td>
        <td class="text-center">上臂外侧三角肌附着处</td>
        <td class="text-center">皮上划痕</td>
        <td class="text-center">0.05ml（2滴）</td>
        <td class="text-center">病例或病畜的直接接触者不能接种</td>
      </tr>
      <tr>
        <td class="text-center">钩体疫苗</td>
        <td class="text-center">流行地区可能接触疫水的7～60岁高危人群</td>
        <td class="text-center">2</td>
        <td class="text-center">上臂外侧三角肌附着处</td>
        <td class="text-center">皮下注射</td>
        <td class="text-center">成人第 1剂 0.5ml，第2剂 1.0ml7～13 岁剂量减半，必要时7岁以下儿童依据年龄、体重酌量注射，不超过成人剂量 1/4</td>
        <td class="text-center">接种第1剂次后7～10天接种第2剂次</td>
      </tr>
      <tr>
        <td class="text-center">乙脑灭活疫苗</td>
        <td class="text-center">8月龄（2剂次），2周岁，6周岁</td>
        <td class="text-center">4</td>
        <td class="text-center">上臂外侧三角肌下缘附着处</td>
        <td class="text-center">皮下注射</td>
        <td class="text-center">0.5ml</td>
        <td class="text-center">第 1、2剂次间隔 7～10 天</td>
      </tr>
      <tr>
        <td class="text-center">甲肝灭活疫苗</td>
        <td class="text-center">18 月龄 ,24 ～30 月</td>
        <td class="text-center">2</td>
        <td class="text-center">上臂三角肌附着处</td>
        <td class="text-center">肌内注射</td>
        <td class="text-center">0.5ml</td>
        <td class="text-center">2剂次间隔≥ 6个月</td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>