input[type=text],select{max-width:80px;}
form label{margin:0 5px;vertical-align:middle;}
.onSale{color:#3155f9;}
.stopSale{color:#cf0d01;}
.invalid{color:#999999;}
.modal-body{padding:20px 20px 20px 0;}
.opt label,.opt button{margin:0 5px;}
.opt *{vertical-align:middle;}
.optCol .cancel{color:#ff0505;}

div.wait{color:#fff;background: #00a0e9;}
div.pass{color:#fff;background:#00a65a;}
div.reject{color:#fff;background:#ff0505;}
div.canceled{color:#fff;background:gray;}
div.wait,div.pass,div.reject,div.canceled{margin-left:20px;padding:5px 10px;margin-bottom:10px;}