html,body{
    height: 100%;
    width: 100%;
    min-width: 800px;
}
body{
    font-family: "Microsoft Yahei", Verdana, Simsun, "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "Helvetica Neue", Arial;
}
/*头部样式*/
.header{
    height: 60px;
    /*background-color: #00b3ee;*/
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header{
    background-color: #f7f7f7;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 20px;
}

.hd-title{
    float: left;
    height: 60px;
    line-height: 60px;
}
.hd-title span.logo{
    margin-right:20px;
}

.hd-title > .icon{
    margin-right: 20px;
}

.header .title{
    display: inline-block;
    font-size: 13px;
    margin-left: 10px;
}

.header .hd-operate{
    float: right;
    line-height: 60px;
    text-align: right;
}
.hd-operate > span{
    margin-left: 10px;
    position:relative;
}
.hd-operate > span img{
    width:30px;
    height:30px;
    border-radius:15px;
}
.hd-operate .icon-msg{
    width:20px;
    height:17px;
    background:url(../sprite/msg.png) no-repeat 0 0 transparent;
}
.hd-operate .msgCount{
    display:inline-block;
    background:#fa0000;
    color:#fff;
    position:absolute;
    font-size:10px;
    z-index:9;
    left:10px;
    top:-5px;
    border-radius: 10px;
    line-height:15px;
    padding:0 4px;
}
/*菜单样式*/
.menu{
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding-top: 60px;
    border-right: 1px solid #e5e5e5;
}
/*内容区域样式*/
.content{
    height: 100%;
    width: 100%;
    padding: 114px 0 0 200px;
    background: #ffffff;
    overflow: auto;
}

.content-inner{
    height: 100%;
    width: 100%;
    overflow: auto;
}

.navbar-default{
    border-color: #f8f8f8;
}

.tb-head{
    height: 48px;
    font-size:16px;
    line-height:48px;
    background:#f7f7f7;
    padding-left:20px;
}
.tb-title{
    float: left;
}

.tb-operate{
    float: right;
}

.tb-title-txt {
    margin: 0;
    line-height: 68px;
}

.tb-operate {
    float: right;
    line-height: 68px;
}
/*分页样式*/
.page{
    line-height: 30px;
    float: right;
}

.page li{
    float: left;
}
.page li {
    list-style: none;
    padding: 0 8px;
    margin: 0 4px;
    height: 30px;
}

.page .pageBtn{
    border: 1px solid #ccc;
}

.page input{
    width: 30px;
    text-align: center;
    height: 30px;
}

/*图标*/
.icon{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.icon-gprs{
    width:24px;
    height:24px;
    background:url(../sprite/shebeiguanli.png) no-repeat 0 0 transparent;
}
.icon-jumin-audit{
     width:24px;
     height:24px;
     background:url(../sprite/shenfenyanzheng.png) no-repeat 0 0 transparent;
 }
.icon-idaudit{
    width:24px;
    height:24px;
    background:url(../sprite/idVali.png) no-repeat 0 0 transparent;
}
.icon-behaviour{
    width:24px;
    height:24px;
    background:url(../sprite/useract.png) no-repeat 0 0 transparent;
}
.icon-memo{
    width:24px;
    height:24px;
    background:url(../sprite/meirizongjie.png) no-repeat 0 0 transparent;
}
.icon-shop-manage{
    width:24px;
    height:24px;
    background:url(../sprite/shopmanager.png) no-repeat 0 0 transparent;
}
.opt{
    padding:20px 0;
}
.wrap{
    border:1px solid #e5e5e5;
}

.tb-head{
    height: 48px;
    border-bottom:1px solid #e5e5e5;
    font-size:16px;
    line-height:48px;
    background:#f7f7f7;
    padding-left:20px;
}
.tab-content{
    padding:25px 30px;
}
.tab-content .tab-pane{
    background:#fff;
}
@media (max-width: 800px){
    .content {
        padding: 114px 0 0 0px;
    }
    .nav-tabs{
        margin-left: 0!important;
    }
    .menu{
        z-index: -1;
    }
}
.nav-tabs>li.tab-menu{
    border: 0;
    width: auto;
    height: 100%;
}

.nav-tabs>li.tab-menu .dropdown{
    position: absolute;
    bottom: 0px;
}

.nav-tabs>li.tab-menu button{
    border-width: 1px 1px 0 0;
    padding: 9px 10px;
    border-radius: 0 4px 0 0;
}
.tab-content{
    min-width:1200px;
}