<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../../../static/css/reset.css" />
    <link rel="stylesheet" href="../static/asset/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../../static/css/layout.css" />
    <link rel="stylesheet" href="../static/css/expert.css" />
    <script type="text/javascript" src="../static/js/lib/adaptive.js"></script>
    <script>
        window['adaptive'].desinWidth = 1920;// 设计图宽度
        window['adaptive'].baseFont = 30;// 没有缩放时的字体大小
        window['adaptive'].maxWidth = 1920;// 页面最大宽度 默认540
        window['adaptive'].init();// 调用初始化方法
    </script>
    <title>专家讲堂-文章列表</title>
</head>
<body>
    <header class="box">
        <div class="flex title">文章列表</div>
        <div><a href="#" class="btn btn-main">发表文章</a></div>
    </header>
    <div class="wrap-content">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>文章标题</th>
                <th>所属分类</th>
                <th>来源</th>
                <th>作者</th>
                <th>阅读量</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            <tr>
                <td><a href="#">关于补锌，你想知道的都在这儿了</a></td>
                <td>高血压</td>
                <td>转载</td>
                <td>晴天</td>
                <td>19806</td>
                <td>2017-03-09 10:58</td>
                <td><a href="#" class="btn btn-default">编辑</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>