<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../../../static/css/reset.css" />
    <link rel="stylesheet" href="../../../../static/assets/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../../static/css/shop.css" />
    <script type="text/javascript" src="../static/js/lib/adaptive.js"></script>
    <script type="text/javascript" src="../../../../static/assets/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../../../static/assets/doT-master/doT.min.js"></script>
    <script type="text/javascript" src="../static/js/tempUtil.js"></script>
    <script>
        window['adaptive'].desinWidth = 1720;// 设计图宽度
        window['adaptive'].baseFont = 30;// 没有缩放时的字体大小
        window['adaptive'].maxWidth = 1720;// 页面最大宽度 默认540
        window['adaptive'].init();// 调用初始化方法
    </script>
    <title>商城-首页</title>
</head>
<body>
<div id="classify">
    <ul class="onecate clearfix">
        <li class="pull-left active">中西药品</li>
        <li class="pull-left">保健食品</li>
    </ul>
    <ul class="sendcate clearfix">
        <li class="pull-left active">全部</li>
        <li class="pull-left">高血压</li>
        <li class="pull-left">糖尿病</li>
        <li class="pull-left">冠心病</li>
    </ul>
</div>
<div class="goodslist">
    <ul class="clearfix" id="goodslist"></ul>
</div>
</body>
<script type="text/x-dot-template" id="temp-cate">
    <ul class="onecate clearfix">
        {{~ it.OneCateList :value :index}}
        <li class="pull-left {{?index == 0}}active{{?}}" data-code = "{{=value.code}}">{{=value.name}}</li>
        {{~}}
    </ul>
    <ul class="sendcate clearfix">
        <li class="pull-left active">全部药品</li>
        {{~ it.twoCateList :value :index}}
        {{? value.parentid == 1}}
        <li class="pull-left" data-pid = "{{=value.parentid}}" data-code="{{=value.code}}">{{=value.name}}</li>
        {{??}}
        <li class="pull-left hide" data-pid = "{{=value.parentid}}" data-code="{{=value.code}}">{{=value.name}}</li>
        {{?}}
        {{~}}
    </ul>
</script>
<script type="text/x-dot-template" id="temp-goods">
    {{~ it.goodsList :value :index}}
    <li>
        <a href="goodsDetail.html?id={{=value.id}}">
            <div class="mainImg"><img src="../static/img/pic/goods1demo.png" alt="商品主图"></div>
            <p>欧兰宁 奥氮平片 10mg*7片</p>
            <p class="price">￥{{=(value.price/100)}}</p>
        </a>
    </li>
    {{~}}
</script>
<script type="text/javascript">
    $(function(){
       var pageNumber = 1;
       $("#classify").on("click","li",function(){
           $(this).siblings().removeClass("active");
           $(this).addClass("active");
           var $ul = $(this).parent(),onecateId = '',diseaseId = '';
           if($ul.index() === 0){
               var cid = $(this).attr("data-code"),$childLi = $ul.next().find("li");
               $childLi.addClass("hide");
               $("li[data-pid="+cid+"]").removeClass("hide");
               $($childLi[0]).removeClass("hide");
               onecateId = $(this).attr("data-code");
               diseaseId = "";
           }else{
               diseaseId = $(this).attr("data-code");
               onecateId = $ul.prev().find("a.active").attr("data-code");
           }
           pageNumber = 1;
           getGoods(pageNumber,onecateId,diseaseId);
       });
        $(window).scroll(function(){
            var viewH = $(this).height(),contentH = $(document).height(),scrollTop = $(this).scrollTop();
            var onecateId = $($("#classify ul").get(0)).find("a.active").attr("data-code"),diseaseId = $($("#classify ul").get(1)).find("a.active").attr("data-code");
            if(viewH + scrollTop === contentH){
                pageNumber = pageNumber+1;
                getGoods(pageNumber,onecateId,diseaseId)
            }
        });
       getClassify();
       getGoods(1,1);
       function getClassify(){
           common.demoUrl = "../rss/getGoodsType.json";
           common.fetch({
               url:"http://192.168.1.34:8080/api/business/inhabitant/getGoodsType",
               type:"GET",
               data:{},
               success:function(data){
                   data = data || {};
                   if(data.ret_code === 1){
                       common.data = data["ret_data"];
                       common.render($("#temp-cate"),$("#classify"),common.data);
                   }
               },
               error:function(err){
                   console.log(err);
               }
           });
       }
        function getGoods(pageNumber,onecateId,diseaseId){
            var paramObj = {pageSize:10,onecate:onecateId,diseaseId:diseaseId?diseaseId:'',pageNumber:pageNumber};
            common.demoUrl = "../rss/getGoodsPage.json";
            common.fetch({
                type:"GET",
                url:'http://192.168.1.34:8080/api/business/inhabitant/getGoodsPage',
                data:paramObj,
                success:function(data){
                    data = data || {};
                    if(data.ret_code === 1){
                        common.data = data["ret_data"];
                        if(pageNumber > 1){
                            common.render($("#temp-goods"),$("#goodslist"),common.data,"append");
                        }else{
                            common.render($("#temp-goods"),$("#goodslist"),common.data);
                        }
                    }
                },
                error:function(err){
                    console.log(JSON.stringify(err));
                }
            });
        }
    });
</script>
</html>