.rc-table-body {
  margin-bottom: 20px;
}

.rc-table-thead .my-col-class, .rc-table-tbody .my-col-class {
  border-right: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
  color: #333;
}

.rc-table-thead .my-col-class {
  border-color: #ddd;
  border-style: solid;
  border-width: 1px 1px 1px 0;
}

.rc-table-thead .my-col-class:first-child, .my-row-class>.my-col-class:first-child {
  border-left: 1px solid #ddd;
}

.rc-table-tbody>tr:nth-of-type(even) {
  background: #f7f7f7;
}

.rc-table-tbody>tr:nth-of-type(odd) {
  background: #fff;
}

.rc-table-thead>tr:nth-of-type(odd) {
  background: #f7f7f7;
}

.rc-table td, .rc-table th {
  white-space: normal;
}
