.Table {
  width: 100%;
  margin-top: 15px;
}

.headerCell{
  height: 40px;
  line-height: 40px;
  border-right: 1px solid #ccc;
}
.headerRow > .headerCell:last-child{
  border-right: 0;
}
.evenRow,
.oddRow {
  border-width: 0 1px 1px 1px;
  border-color: #ddd;
  border-style: solid;
}

.evenRow > .exampleColumn:last-child,
.oddRow > .exampleColumn:last-child{
  border-right: 0;
}

.headerRow,
.oddRow{
  background-color: #f7f7f7;
}

.headerRow{
  border: 1px solid #ddd;
}

.headerColumn {
  text-transform: none;
}
.exampleColumn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
  line-height: 30px;
  border-right: 1px solid #ccc;
}

.checkboxLabel {
  margin-left: .5rem;
}
.checkboxLabel:first-of-type {
  margin-left: 0;
}

.noRows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #bdbdbd;
}
