<div class="wrap">
    <div class="tb-head">个体化健康教育接受率&gt;&gt;添加数据</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <form action="#">
                <table class="table wrap-table add_data">
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <div class="col-sm-10 form-inline">
                                <select name="" class="form-control">
                                    <option value="">省份</option>
                                </select>
                                <select name="" class="form-control">
                                    <option value="">城市</option>
                                </select>
                                <select name="" class="form-control">
                                    <option value="">区</option>
                                </select>
                                <select name="" class="form-control">
                                    <option value="">社区卫生站</option>
                                </select>
                                <select name="" class="form-control">
                                    <option value="">年度</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>被调查人数:</td>
                        <td>
                            <div class="col-sm-10 form-inline">
                                <input type="text" class="form-control" placeholder="被调查人数"/>
                            </div>
                            <!--<div class="form-inline"><input type="text" class="form-control" placeholder="商品名称"></div>-->
                        </td>
                    </tr>
                    <tr>
                        <td>A4选3的人数:</td>
                        <td>
                            <div class="form-inline col-sm-10">
                                <input type="text" class="form-control" placeholder="应答题总数" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>A6选234的人数:</td>
                        <td>
                            <div class="col-sm-10 form-inline">
                                <input type="text" class="form-control" placeholder="A1选1或A2选1的总人数">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="col-sm-12 form-submit-btns text-center">
                                <button type="submit" class="btn btn-main btn-lg">保存</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>