<div class="wrap xzqy">
    <div class="tb-head">健康档案建档情况统计表</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="opt clearfix">
                <div class="pull-left">
                    <form action="#" class="form-inline" onsubmit="return false">
                        <select name="#" class="form-control">
                            <option value="请选择">社区卫生站</option>
                        </select>
                        <select name="#" class="form-control">
                            <option value="请选择">季度</option>
                        </select>
                        <input type="submit" class="btn btn-main" value="查询" />
                    </form>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-main">导出</button>
                </div>
            </div>
            <table cellspacing="0" class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th rowspan="2">序号</th>
                    <th rowspan="2">社区卫生站</th>
                    <th rowspan="2">上年末常住人口（人）</th>
                    <th colspan="3" class="center">城乡居民健康档案</th>
                    <th colspan="3" class="center">电子健康档案</th>
                    <th rowspan="2" class="center">季度</th>
                    <th rowspan="2" class="center">备注</th>
                </tr>
                <tr>
                    <th>累计建档人数</th>
                    <th>其中当季新建数</th>
                    <th>建档率（%）</th>
                    <th>电子健康档案累计建档人数</th>
                    <th>其中当季新建数</th>
                    <th>电子健康档案建档率（%）</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>平山村社康医院</td>
                    <td>2016</td>
                    <td>50</td>
                    <td>50</td>
                    <td>10%</td>
                    <td>10%</td>
                    <td>10%</td>
                    <td>10%</td>
                    <td>10%</td>
                    <td>10%</td>
                </tr>
                </tbody>
            </table>
            <div class="pagenation clearfix">
                <a href="#">上一页</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <span>...</span>
                <a href="#">15</a>
                <a href="#">下一页</a>
                <form action="#" method="post">
                    <span>共5页</span><span>到第<input type="text" value="1">页 <input type="submit" class="btn btn-main" value="确定"/></span>
                </form>
            </div>
        </div>
    </div>
</div>