<div class="wrap clinicDetail">
    <div class="tb-head">健康教育宣传栏管理&gt;&gt;健康教育宣传栏详情</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="opt"><a href="#">&lt;&lt;返回健康教育宣传栏列表</a></div>
            <div class="table-wrap">
                <table class="table wrap-table">
                    <tbody>
                    <tr>
                        <td>主题：</td>
                        <td>乳腺癌防治指南</td>
                    </tr>
                    <tr>
                        <td>出刊日期：</td>
                        <td>2017年4月14日</td>
                    </tr>
                    <tr>
                        <td>地点：</td>
                        <td>桃园街道办崇文花园社区活动中心</td>
                    </tr>
                    <tr>
                        <td>组织者：</td>
                        <td>李XX</td>
                    </tr>
                    <tr>
                        <td>期号：</td>
                        <td>第xx期</td>
                    </tr>
                    <tr>
                        <td>现场照片：</td>
                        <td>
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
