<div class="wrap clinicDetail">
    <div class="tb-head">义诊管理&gt;&gt;义诊详情</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="opt"><a href="#">&lt;&lt;返回义诊列表</a></div>
            <div class="table-wrap">
                <table class="table wrap-table table-bordered">
                    <tbody>
                    <tr>
                        <td>主题：</td>
                        <td colspan="2">春季流行感冒义诊</td>
                    </tr>
                    <tr>
                        <td>时间：</td>
                        <td colspan="2">2017年4月14日15:58:43</td>
                    </tr>
                    <tr>
                        <td>地点：</td>
                        <td colspan="2">桃园街道办崇文花园社区活动中心</td>
                    </tr>
                    <tr>
                        <td>组织者：</td>
                        <td colspan="2">李XX</td>
                    </tr>
                    <tr>
                        <td>参与专干：</td>
                        <td colspan="2">李XX，赵XX，周XX，许XX </td>
                    </tr>
                    <tr>
                        <td>参与人数：</td>
                        <td colspan="2">56</td>
                    </tr>
                    <tr>
                        <td>参与人群：</td>
                        <td colspan="2">社区内小于12岁儿童</td>
                    </tr>
                    <tr>
                        <td>参与人员：</td>
                        <td colspan="2">xxx,xxx,xxx,xx,xxx,xx,xxx,xxxxx,xx,xx,xx</td>
                    </tr>
                    <tr>
                        <td>医师：</td>
                        <td colspan="2">xxx,xxx,xxx</td>
                    </tr>
                    <tr>
                        <td>总结：</td>
                        <td>
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                        </td>
                        <td rowspan="2" class="center col-sm-2">
                            <div>李XX</div>
                            <div>2017-05-12 12:00:12</div>
                        </td>
                    </tr>
                    <tr>
                        <td>活动照片：</td>
                        <td>
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td>总结：</td>
                        <td>
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                        </td>
                        <td rowspan="2" class="center col-sm-2">
                            <div>李XX</div>
                            <div>2017-05-12 12:00:12</div>
                        </td>
                    </tr>
                    <tr>
                        <td>活动照片：</td>
                        <td>
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
