<div class="wrap">
    <div class="tb-head">异常数据数据监控&gt;&gt;修正异常数据</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <form action="#">
                <table class="table wrap-table">
                    <tbody>
                    <tr>
                        <td>异常数据表单:</td>
                        <td>常规体检表</td>
                    </tr>
                    <tr>
                        <td>表单创建时间:</td>
                        <td>2017-04-20 15:22:03</td>
                    </tr>
                    <tr>
                        <td>数据异常项:</td>
                        <td>血压高压值</td>
                    </tr>
                    <tr>
                        <td>数据异常描述:</td>
                        <td>数据超出测量仪器上限</td>
                    </tr>
                    <tr>
                        <td>修正数据值：</td>
                        <td>
                            <div class="col-sm-5">88ML/S</div>
                        </td>
                    </tr>
                    <tr>
                        <td>备注:</td>
                        <td>测试值不在标准环境下测里奥，导致数据异常。转移到标准环境下测量，排除环境干扰造成的误差，可以测量出正常数值</td>
                    </tr>
                    <tr>
                        <td>责任人:</td>
                        <td>刘某栋</td>
                    </tr>
                    <tr>
                        <td>所属机构:</td>
                        <td>沙河街道社康站</td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>