<div class="wrap roleManager">
  <div class="tb-head">健康教育活动</div>
  <div class="tb-content">
    <div class="tb-wrap">
      <div class="opt clearfix">
        <div class="pull-left">
          <from action="#" class="form-inline">
            <select name="#" class="form-control">
              <option value="请选择">省</option>
              <option value="请选择">广东</option>
            </select>
            <select name="#" class="form-control">
              <option value="请选择">市</option>
              <option value="请选择">深圳</option>
            </select>
            <select name="#" class="form-control">
              <option value="请选择">区</option>
              <option value="请选择">南山</option>
            </select>
            <select name="#" class="form-control">
              <option value="请选择">社区卫生站</option>
            </select>
            <input type="submit" class="btn btn-main" value="查询" />
          </from>
        </div>
        <div class="pull-right">
          <button class="btn btn-main" type="button" data-toggle="modal" data-target="#modal_roleManager">新增健教活动</button>
          <button class="btn btn-main" type="button">删除</button>
        </div>
      </div>
      <table cellspacing="0" class="table table-striped table-hover table-bordered">
        <thead>
          <th></th>
          <th>序号</th>
          <th>社区卫生站</th>
          <th>活动主题</th>
          <th>组织者</th>
          <th>活动时间</th>
          <th>活动地点</th>
          <th>活动形式</th>
          <th>操作</th>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td>福光社康</td>
            <td>xxxx</td>
            <td>李四</td>
            <td>XX</td>
            <td>2012-01-01 00:00:00</td>
            <td>云里社区中心活动楼</td>
            <td class="text-center optCol">
              <a href="#">查看详情</a>
              <a href="#">编辑</a>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td>福光社康</td>
            <td>xxxx</td>
            <td>李四</td>
            <td>XX</td>
            <td>2012-01-01 00:00:00</td>
            <td>云里社区中心活动楼</td>
            <td class="text-center optCol">
              <a href="#">查看详情</a>
              <a href="#">编辑</a>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td>福光社康</td>
            <td>xxxx</td>
            <td>李四</td>
            <td>XX</td>
            <td>2012-01-01 00:00:00</td>
            <td>云里社区中心活动楼</td>
            <td class="text-center optCol">
              <a href="#">查看详情</a>
              <a href="#">编辑</a>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td>福光社康</td>
            <td>xxxx</td>
            <td>李四</td>
            <td>XX</td>
            <td>2012-01-01 00:00:00</td>
            <td>云里社区中心活动楼</td>
            <td class="text-center optCol">
              <a href="#">查看详情</a>
              <a href="#">编辑</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagenation clearfix">
        <a href="#">上一页</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <span>...</span>
        <a href="#">15</a>
        <a href="#">下一页</a>
        <form action="#" method="post">
          <span>共5页</span><span>到第<input type="text" value="1">页 <input type="submit" class="btn btn-main" value="确定"/></span>
        </form>
      </div>
    </div>
  </div>
</div>