<div class="wrap">
  <div class="tb-head">健康教育专题讨论会&gt;&gt;研讨会详情</div>
  <div class="tb-content">
    <div class="tb-wrap">
      <table class="table wrap-table">
        <tbody>
        <tr>
          <td>活动主题:</td>
          <td>XXXXXXXXXXXXXXXXXXXXXXXX</td>
        </tr>
        <tr>
          <td>活动时间:</td>
          <td>XXXXXXXXXXXXXXXXXXXXXXXX</td>
        </tr>
        <tr>
          <td>活动地点:</td>
          <td>XXXXXXXXXXXXXXX</td>
        </tr>
        <tr>
          <td>活动形式:</td>
          <td>XXXXXXXXXXXXXXXXXXXXXX</td>
        </tr>
        <tr>
          <td>组织者:</td>
          <td>XXXXXXXXXXXXXXXXXXXXXX </td>
        </tr>
        <tr>
          <td>参与专干:</td>
          <td>XXXXXXXXXXXXXXXXXXXXXX </td>
        </tr>
        <tr>
          <td>接受健康教育人员类别:</td>
          <td>XXXXXXXXXXXXXXXXXXXXXX </td>
        </tr>
        <tr>
          <td>接受健康教育人数:</td>
          <td>XXXXXXXXXXXXXXXXXXXXXX </td>
        </tr>
        <tr>
          <td>总结:</td>
          <td>
            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
          </td>
        </tr>
        <tr>
          <td>活动照片:</td>
          <td>
            <img class="form-img" src="../static/rss/example.jpg" alt="">
            <img class="form-img" src="../static/rss/example.jpg" alt="">
            <img class="form-img" src="../static/rss/example.jpg" alt="">
            <img class="form-img" src="../static/rss/example.jpg" alt="">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
