<div class="wrap hospital">
    <div class="tb-head">社区卫生站管理</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="opt clearfix">
                <div class="pull-left">
                    <form action="#" class="form-inline" onsubmit="return false">
                        <select name="#" class="form-control" id="js-province">
                            <option value="请选择">请选择</option>
                            <option value="请选择">广东</option>
                        </select>
                        <span>省</span>
                        <select name="#" class="form-control" id="js-city">
                            <option value="请选择">请选择</option>
                            <option value="请选择">深圳</option>
                        </select>
                        <span>市</span>
                        <select name="#" class="form-control" id="js-district">
                            <option value="请选择">请选择</option>
                            <option value="请选择">南山</option>
                        </select>
                        <span>区/县</span>
                        <select name="#" class="form-control" id="js-street">
                            <option value="请选择">请选择</option>
                            <option value="请选择">桃源街道</option>
                        </select>
                        <span>乡镇/街道</span>
                        <select name="#" class="form-control" id="js-village">
                            <option value="请选择">请选择</option>
                            <option value="请选择">平山居委会</option>
                        </select>
                        <span>村/居委会</span>
                        <input type="submit" class="btn btn-main" value="查询" />
                    </form>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-main">删除</button>
                    <button type="button" class="btn btn-main">新增社区卫生站</button>
                </div>
            </div>
            <table cellspacing="0" class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-1"><input type="checkbox" name="allCheck"></th>
                    <th class="col-sm-1">序号</th>
                    <th class="col-sm-1">社区卫生站</th>
                    <th class="col-sm-2">地址</th>
                    <th class="col-sm-1">辖区户籍人口数</th>
                    <th class="col-sm-1">辖区总户数</th>
                    <th class="col-sm-1">辖区常住人口数</th>
                    <th class="col-sm-1">上年门诊量</th>
                    <th class="col-sm-1">上年住院人数</th>
                    <th class="col-sm-2">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>文化路社区医院</td>
                    <td>云南省昆明市建新区西山街道西山居委会文化路9号</td>
                    <td>679</td>
                    <td>230</td>
                    <td>583</td>
                    <td>658</td>
                    <td>106</td>
                    <td><a href="#">服务分区</a><a href="#">查看详情</a><a href="#">编辑</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>文化路社区医院</td>
                    <td>云南省昆明市建新区西山街道西山居委会文化路9号</td>
                    <td>679</td>
                    <td>230</td>
                    <td>583</td>
                    <td>658</td>
                    <td>106</td>
                    <td><a href="#">服务分区</a><a href="#">查看详情</a><a href="#">编辑</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>文化路社区医院</td>
                    <td>云南省昆明市建新区西山街道西山居委会文化路9号</td>
                    <td>679</td>
                    <td>230</td>
                    <td>583</td>
                    <td>658</td>
                    <td>106</td>
                    <td><a href="#">服务分区</a><a href="#">查看详情</a><a href="#">编辑</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>文化路社区医院</td>
                    <td>云南省昆明市建新区西山街道西山居委会文化路9号</td>
                    <td>679</td>
                    <td>230</td>
                    <td>583</td>
                    <td>658</td>
                    <td>106</td>
                    <td><a href="#">服务分区</a><a href="#">查看详情</a><a href="#">编辑</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>文化路社区医院</td>
                    <td>云南省昆明市建新区西山街道西山居委会文化路9号</td>
                    <td>679</td>
                    <td>230</td>
                    <td>583</td>
                    <td>658</td>
                    <td>106</td>
                    <td><a href="#">服务分区</a><a href="#">查看详情</a><a href="#">编辑</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>文化路社区医院</td>
                    <td>云南省昆明市建新区西山街道西山居委会文化路9号</td>
                    <td>679</td>
                    <td>230</td>
                    <td>583</td>
                    <td>658</td>
                    <td>106</td>
                    <td><a href="#">服务分区</a><a href="#">查看详情</a><a href="#">编辑</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>文化路社区医院</td>
                    <td>云南省昆明市建新区西山街道西山居委会文化路9号</td>
                    <td>679</td>
                    <td>230</td>
                    <td>583</td>
                    <td>658</td>
                    <td>106</td>
                    <td><a href="#">服务分区</a><a href="#">查看详情</a><a href="#">编辑</a></td>
                </tr>
                </tbody>
            </table>
            <div class="pagenation clearfix">
                <a href="#">上一页</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <span>...</span>
                <a href="#">15</a>
                <a href="#">下一页</a>
                <form action="#" method="post">
                    <span>共5页</span><span>到第<input type="text" value="1">页 <input type="submit" class="btn btn-main" value="确定"/></span>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

	require([
		'jquery',
		'js/area'
	], function($, area){
		var $self = $("#hospital");
		new area({
			$province: $self.find("#js-province"),
			$city: $self.find("#js-city"),
			$district: $self.find("#js-district"),
			$street: $self.find("#js-street"),
      $village: $self.find("#js-village"),
			provinceCode: '420000',
			cityCode: '420800',
			districtCode: '421023'
		});
	});
</script>