<div class="wrap newhospital">
    <div class="tb-head">社区卫生站管理&gt;&gt;社区卫生站详情</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="table-wrap">
                <fieldset>
                    <legend>基本信息</legend>
                    <div class="table-wrap">
                        <table class="table table-bordered">
                            <tr>
                                <td class="col-sm-2">社区卫生站名称</td>
                                <td>桃源街道社区卫生站</td>
                            </tr>
                            <tr>
                                <td>详细地址</td>
                                <td>深圳市南山区桃源街道办崇文花园1栋12A铺</td>
                            </tr>
                        </table>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>人口信息</legend>
                    <div class="table-wrap">
                        <table class="table table-bordered">
                            <tr>
                                <td class="col-sm-2">辖区户籍人口</td>
                                <td>12322</td>
                                <td class="col-sm-2">0-6岁儿童数量</td>
                                <td>1002</td>
                            </tr>
                            <tr>
                                <td>辖区总户数</td>
                                <td>5025</td>
                                <td>育龄妇女数量</td>
                                <td>50035</td>
                            </tr>
                            <tr>
                                <td>辖区常住人口数</td>
                                <td>10000</td>
                                <td>60岁以上老年人数量</td>
                                <td>2000</td>
                            </tr>
                            <tr>
                                <td>上年门诊量</td>
                                <td>2003</td>
                                <td>65岁以上老年人数量</td>
                                <td>952</td>
                            </tr>
                            <tr>
                                <td>上年住院人数</td>
                                <td>200</td>
                                <td>上年健教投入资金</td>
                                <td>201583</td>
                            </tr>
                        </table>
                    </div>
                </fieldset>
                <fieldset class="table-ill">
                    <legend>辖区慢性病人群比例</legend>
                    <div class="table-wrap">
                        <div class="col-sm-10">
                            <span>高血压:1%</span>
                            <span>糖尿病:2%</span>
                            <span>支气管炎:1%</span>
                            <span>脑梗:1%</span>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="table-imgs">
                    <legend>辖区平面图</legend>
                    <div class="table-wrap">
                        <div class="col-sm-10">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                            <img class="form-img" src="../static/rss/example.jpg" alt="">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
