<div class="wrap">
  <div class="tb-head">组织机构管理&gt;&gt;新增账户</div>
  <div class="tb-content">
    <div class="tb-wrap">
      <table class="table wrap-table">
        <tbody>
        <tr>
          <td><span class="required">*</span>姓名：</td>
          <td>
            <div class="col-sm-4">
              <input type="text" class="form-control" placeholder="姓名">
            </div>
          </td>
        </tr>
        <tr>
          <td><span class="required">*</span>登录账号:</td>
          <td>
            <div class="col-sm-4">
              <input type="text" class="form-control" placeholder="登录账号">
            </div>
          </td>
        </tr>
        <tr>
          <td><span class="required">*</span>密码:</td>
          <td>
            <div class="col-sm-4">
              <input type="password" class="form-control" placeholder="密码">
            </div>
          </td>
        </tr>
        <tr>
          <td><span class="required">*</span>所属角色:</td>
          <td>
            <div class="col-sm-4">
              <input type="text" class="form-control" placeholder="所属角色">
            </div>
          </td>
        </tr>
        <tr>
          <td><span class="required">*</span>组织机构:</td>
          <td>
            <div class="col-sm-4">
              <input type="text" class="form-control" placeholder="组织机构">
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="col-sm-12 form-submit-btns text-center">
              <button type="submit" class="btn btn-main btn-lg">保存</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  require([
    'jquery','js/newClinic'
  ], function($,newClinic){
  });
</script>