<div class="wrap">
    <div class="tb-head">义诊管理&gt;&gt;新增义诊</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <table class="table wrap-table">
                <tbody>
                <tr>
                    <td>社区卫生站：</td>
                    <td>
                        <div class="form-inline">
                            <select name="#" class="form-control">
                                <option value="请选择">省</option>
                                <option value="请选择">广东</option>
                            </select>
                            <select name="#" class="form-control">
                                <option value="请选择">市</option>
                                <option value="请选择">深圳</option>
                            </select>
                            <select name="#" class="form-control">
                                <option value="请选择">区</option>
                                <option value="请选择">南山</option>
                            </select>
                            <select name="#" class="form-control">
                                <option value="请选择">社区卫生站</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>主题:</td>
                    <td>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" placeholder="主题">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>时间:</td>
                    <td>
                        <div id="js-new-seminar-date" class="input-group date form_date col-sm-3" data-date="" data-date-format="yyyy MM dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="16" type="text" value="" readonly="">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>地点:</td>
                    <td>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="义诊地点">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>组织者:</td>
                    <td>
                        <div class="col-sm-3">
                            <select class="form-control" name="">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>参与专干:</td>
                    <td>

                        <div class="form-choices-selects clearfix">
                            <div class="col-sm-3">
                                <select class="form-control" multiple>
                                    <option value="001">张三</option>
                                    <option value="002">李四</option>
                                    <option value="003">朱刘</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <div>
                                    <button type="button" class="btn btn-block">&gt;&gt;</button>
                                    <button type="button" class="btn btn-block">&lt;&lt;</button>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control" multiple>
                                    <option value="001">张三</option>
                                    <option value="002">李四</option>
                                    <option value="003">朱刘</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>医师:</td>
                    <td>
                        <div class="form-inline sort_wrap" data-optype="update">
                            <input type="text" class="form-control" name="doctor_arr" placeholder="请输入医师姓名"/>&nbsp;&nbsp;<input type="text" class="form-control" name="doctor_department_arr" placeholder="请输入科室名"/>
                            <i class="icon icon-del"></i><i class="icon icon-add"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>参与人群:</td>
                    <td>
                        <div class="col-sm-3">
                            <select class="form-control" name="">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="col-sm-12 form-submit-btns text-center">
                            <button type="submit" class="btn btn-main btn-lg">保存</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    require([
        'jquery','js/newClinic'
    ], function($,newClinic){
        $('#js-new-seminar-date').datetimepicker({
            language:  'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        var _self = $('#newClinic');
        _self.find('.wrap-table').on('click','.icon-add',function(){
            newClinic.add(this);
        });
        _self.find('.wrap-table').on('click','.icon-del',function(){
            newClinic.del(this);
        });
    });
</script>