<div class="wrap newHousehold">
    <div class="tb-head">小区各户编号管理&gt;&gt;新增小区</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <fieldset>
                <legend>基本信息</legend>
                <div class="table-wrap">
                    <table class="table table-bordered">
                        <tr>
                            <td class="col-sm-2"><span class="required">*</span>小区/建筑物名称</td>
                            <td>
                                <div class="col-sm-10 table-row">
                                    <input type="text" placeholder="请输入名称，20字以内" class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>所属社区卫生站</td>
                            <td>
                                <div class="col-sm-10 table-row">西山社区卫生站</div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="required">*</span>所属居委会</td>
                            <td>
                                <div class="col-sm-10 table-row">
                                    <select title="所属居委会" name="" class="form-control">
                                        <option value="">富光社区居委会</option>
                                        <option value="">西丽社区居委会</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
            <fieldset>
                <legend>小区人口信息</legend>
                <div class="table-wrap">
                    <table class="table table-bordered">
                        <tr>
                            <td class="col-sm-2">小区户籍人口</td>
                            <td><input type="text" class="form-control" /></td>
                            <td class="col-sm-2">0-6岁儿童数量</td>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td>小区总户数</td>
                            <td><input type="text" class="form-control" /></td>
                            <td>育龄妇女数量</td>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td>小区常住人口数</td>
                            <td><input type="text" class="form-control" /></td>
                            <td>60岁以上老年人数量</td>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td>上年门诊量</td>
                            <td><input type="text" class="form-control" /></td>
                            <td>65岁以上老年人数量</td>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td>上年住院人数</td>
                            <td><input placeholder="" type="text" class="form-control" /></td>
                            <td>上年健教投入资金</td>
                            <td><input placeholder="" type="text" class="form-control" /></td>
                        </tr>
                    </table>
                </div>
            </fieldset>
            <fieldset>
                <legend>小区慢性病人群比例</legend>
                <div class="table-wrap inllness">
                    <table class="table">
                        <tr>
                            <td>高血压<input placeholder="" type="text" class="form-control">%</td>
                            <td>糖尿病<input placeholder="" type="text" class="form-control">%</td>
                            <td>冠心病<input placeholder type="text" class="form-control">%</td>
                            <td>支气管炎<input placeholder type="text" class="form-control">%</td>
                            <td>脑梗<input placeholder type="text" class="form-control">%</td>
                        </tr>
                    </table>
                </div>
            </fieldset>
            <fieldset>
                <legend>小区平面图</legend>
                <div class="table-wrap">
                    <div class="opt">
                        <button class="btn btn-main" type="button">上传</button>
                    </div>
                    <div class="imglist">
                        <span><img src="" alt="" class="form-img" /><br/><a href="#">删除</a></span>
                        <span><img src="" alt="" class="form-img" /><br/><a href="#">删除</a></span>
                        <span><img src="" alt="" class="form-img" /><br/><a href="#">删除</a></span>
                    </div>
                </div>
            </fieldset>
            <div class="opt save">
                <button class="btn btn-main" type="submit">保存</button>
            </div>
        </div>
    </div>
</div>