<div class="wrap newHousehold" id="newHouseHold">
    <div class="tb-head">住户编号管理</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <!--<form action="#" onsubmit="return false" class="form-inline">-->
                <!--<fieldset>
                    <legend>基本信息</legend>
                    <div class="table-wrap">
                        <table class="table table-bordered">
                            <tr>
                                <td class="col-sm-2">小区/建筑物名称</td>
                                <td>
                                    <div class="col-sm-5"><input type="text" class="form-control" placeholder="小区/建筑物名称" /></div>
                                    <input type="text" class="form-control"><label>栋</label>
                                    <input type="text" class="form-control"><label>单元</label>
                                </td>
                            </tr>
                            <tr>
                                <td>详细地址</td>
                                <td>
                                    <div class="col-sm-10 table-row">
                                        <select name="" class="form-control">
                                            <option value="">请选择</option>
                                            <option value="广东">广东</option>
                                        </select>
                                        <span>省</span>
                                        <select name="" class="form-control">
                                            <option value="">请选择</option>
                                            <option value="深圳">深圳</option>
                                        </select>
                                        <span>市</span>
                                        <select name="" class="form-control">
                                            <option value="">请选择</option>
                                            <option value="南山">南山</option>
                                        </select>
                                        <span>区/县</span>
                                    </div>
                                    <div class="table-row col-sm-10">
                                        <select name="" class="form-control">
                                            <option value="">请选择</option>
                                            <option value="桃源街道">桃源街道</option>
                                        </select>
                                        <span>乡镇/街道</span>
                                        <select name="" class="form-control table-row">
                                            <option value="">请选择</option>
                                            <option value="平山">平山</option>
                                        </select>
                                        <span>村/居委会</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>所属社区卫生站：</td>
                                <td>
                                    <div class="table-row">
                                        <select name="" class="form-control">
                                            <option value="">福光社康</option>
                                            <option value="">西丽社康</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </fieldset>-->
            <div class="house">
                <fieldset>
                    <legend>小区/建筑物名称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;万象天成</legend>
                </fieldset>
                <fieldset>
                    <legend>住户编号规则</legend>
                    <div>
                        <table class="table table-bordered" id="rules">
                            <tr>
                                <td class="col-sm-2">楼栋/座/阁</td>
                                <td><div class="col-sm-5" id="build"><input class="form-control" type="text" placeholder="输入楼栋号、座号或某某阁，可以为空" /></div></td>
                            </tr>
                            <tr>
                                <td>单元数量</td>
                                <td><div class="col-sm-5" id="unit"><input class="form-control" type="text" placeholder="该楼栋有几个单元，不输入默认为1" /></div></td>
                            </tr>
                            <tr>
                                <td><span class="required">*</span>楼层数</td>
                                <td><div class="col-sm-5" id="floor"><input class="form-control" type="text" placeholder="该楼栋的楼层数，必填项" /></div></td>
                            </tr>
                            <tr>
                                <td><span class="required">*</span>一层几户</td>
                                <td><div class="col-sm-5" id="hose"><input class="form-control" type="text" placeholder="一层楼的住户数量，必填项" /></div></td>
                            </tr>
                            <tr>
                                <td><span class="required">*</span>起始编号</td>
                                <td><div class="col-sm-5" id="startNo"><input class="form-control" type="text" placeholder="有效住户的起始编号，例：101，301，3A 必填项" /></div></td>
                            </tr>
                        </table>
                    </div>
                </fieldset>
            </div>
            <div class="opt save">
                <button class="btn btn-main" type="button" id="generateHoseNo" data-target="#modal_generateNo">一键生成</button>
            </div>
            <!--</form>-->
            <table cellspacing="0" class="table table-striped table-hover table-bordered" id="houseNoList">
                <thead>
                <tr>
                    <th>小区/建筑物名称</th>
                    <th>楼栋/座/阁</th>
                    <th>单元</th>
                    <th class="col-sm-7">门牌号</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>福宇轩</td>
                    <td>6</td>
                    <td>1</td>
                    <td>1</td>
                    <td class="optCol"><a href="#">编辑</a><a href="#" data-opt="del">删除</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="modal_generateNo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_generateNoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="modal_newHouseholdLabel">一键生成住户及编号</h4>
                </div>
                <div class="modal-body" id="distristHouse">
                    <p>小区/建筑物名称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;万象天成</p>
                    <div>
                        <table class="table table-bordered">
                            <tr>
                                <td colspan="2"><input type="text" placeholder="" value="1栋" /><input type="text" placeholder="" value="1单元"></td>
                            </tr>
                            <tr>
                                <td class="col-sm-2">1楼</td>
                                <td class="col-sm-10">
                                    <ul class="houseList clearfix">
                                        <li class="pull-left"><input type="text" value="1212"><a href="#" class="del">删除</a></li>
                                        <li class="pull-left"><input type="text" value="1212"><a href="#" class="del">删除</a></li>
                                        <li class="pull-left"><input type="text" value="1212"><a href="#" class="del">删除</a></li>
                                        <li class="pull-left"><input type="text" value="1212"><a href="#" class="del">删除</a></li>
                                        <li class="pull-left"><a href="#" class="js-add btn btn-main">添加</a></li>
                                    </ul>
                                    <ul class="clearfix">
                                        <li class="pull-left"><a href="javascript:void(0)">删除整层</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-main confirm" type="button">确认无误并提交</a>
                </div>
            </div>
        </div>
    </div>
    <!--<div id="modal_newHousehold" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="modal_newHouseholdLabel">添加门牌号</h4>
                </div>
                <div class="modal-body">
                    <form action="#" onsubmit="return false">
                        <table class="table table-bordered">
                            <tr>
                                <td class="col-sm-2">小区：</td>
                                <td class="col-sm-10">福宇轩1栋1单元</td>
                            </tr>
                            <tr>
                                <td>门牌号：</td>
                                <td>
                                    <ul class="clearfix" id="js_houseNumber">
                                        <li class="pull-left"><input type="text"><a href="#">添加</a></li>
                                        <li class="pull-left"><input type="text" value="1212"><a href="#" class="del">删除</a></li>
                                        <li class="pull-left"><input type="text" value="1212"><a href="#" class="del">删除</a></li>
                                        <li class="pull-left"><input type="text" value="1212"><a href="#" class="del">删除</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                        <div class="operation">
                            <button class="btn btn-main" type="submit">保存</button><button class="btn btn-cancel" type="button" data-dismiss="modal" aria-hidden="true">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>-->
    <div class="modal fade" id="modal_tips" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        确认删除
                    </h4>
                </div>
                <div class="modal-body">
                    你确定更要删除该条数据吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                    <button type="button" class="btn btn-primary" data-event="confirm">
                        确认
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript">
    require(['jquery','js/generateHouseNo'],function($,GenerateHouseNo){
        var $delTr;
        var _self = $('#newHouseHold');
        //列表删除
//        debugger
        $('#modal_tips').modal({
            keyboard: true,
            show:false
        });
        _self.find('a[data-opt=del]').on('click',function(){
            $('#modal_tips').modal('show');
            $delTr = $(this).parents('tr');
        });
        _self.find('button[data-event=confirm]').on('click',function(){
            $delTr.remove();
            $('#modal_tips').modal('hide');
            //此处添加删除实际数据的ajax
        });
       _self.find('#generateHoseNo').on('click',function(){
           var rul = _self.find('table#rules');
           new GenerateHouseNo({
               target:_self.find('#distristHouse'),
               districtName:'万象天成',
               build:rul.find('#build input').val(),
               unit:rul.find('#unit input').val(),
               floor:rul.find('#floor input').val(),
               houseNumber:rul.find('#hose input').val(),
               startNo:rul.find('#startNo input').val()
           });
           _self.find('#modal_generateNo').modal('show');
       });
       _self.find('a.btn.confirm').on('click',function(){
           var modal = $(this).parents('#modal_generateNo'),_table = modal.find('#distristHouse table');
           var josn_houseNumber = {};
           $.each(_table,function(index,ele){
               var str_unit = $(ele).find('tr[data-type=unit] input').val();
               var obj_houseNumber = $(ele).find('tr[data-type=houseNumber] input');
               var arr_houseNumber = [];
               $.each(obj_houseNumber,function(idx,ipt){
                   arr_houseNumber.push($(ipt).val());
               });
               josn_houseNumber[str_unit] = arr_houseNumber;
           });
           console.log(josn_houseNumber);
           //ajax提交写在这，成功后将数据回填到表格中
           //josn_houseNumber是要提交的数据
           var arr_tr = [];
           for(var obj in josn_houseNumber){
               var str = '<tr><td>'+'万象天成'+'</td><td>'+'1栋'+'</td><td>'+obj+'</td><td>'+josn_houseNumber[obj].join(',')+
                   '</td><td class="optCol"><a href="#">编辑</a><a href="#" data-opt="del">删除</a></td>';
               arr_tr.push(str);
           }
            _self.find('#houseNoList tbody').append(arr_tr.join(''));
           _self.find('#modal_generateNo').modal('hide');
       });
        //添加和删除门牌号
        /*$('#newHouseHold #js_houseNumber').on('click','a',function(){
            if($(this).hasClass('del')){
                $(this).parent().remove();
            }else{
                if($(this).prev().get(0).value){
                    var $obj = $(this).parent().clone(true);
                    $obj.find('a').addClass('del').text('删除');
                    $('#js_houseNumber').append($obj);
                    $(this).prev().val('');
                }

            }
        });*/
    })
</script>