<div class="wrap lectureList">
    <div class="tb-head">运营数据统计</div>
    <div class="tb-content">
        <div class="tb-wrap">
            <div class="opt clearfix">
                <div class="pull-left">
                    <from action="#" class="form-inline">
                        <select name="" class="form-control">
                            <option value="桃园社区卫生站">桃园社区卫生站</option>
                        </select>
                        <div class="input-group date form_date col-sm-3" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input id="js_date_start" class="form-control" size="16" type="text" value="" readonly="">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;<div class="input-group date form_date col-sm-3" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input id="js_date_end" class="form-control" size="16" type="text" value="" readonly="">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" class="btn btn-main" value="查询" />
                    </from>
                </div>
            </div>
            <table cellspacing="0" class="table table-striped table-hover table-bordered center">
                <thead>
                <tr>
                    <th class="col-xs-1">序号</th>
                    <th>专干姓名</th>
                    <th>手机号码</th>
                    <th>所属社区卫生站</th>
                    <th>已建档</th>
                    <th>已随访</th>
                    <th>已挂号就诊</th>
                    <th>已免疫</th>
                    <th>家庭医生已签约</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>13523694568</td>
                    <td>xxxx</td>
                    <td>12</td>
                    <td>2</td>
                    <td>12</td>
                    <td>4</td>
                    <td>5</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>13523694568</td>
                    <td>xxxx</td>
                    <td>12</td>
                    <td>2</td>
                    <td>12</td>
                    <td>4</td>
                    <td>5</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>13523694568</td>
                    <td>xxxx</td>
                    <td>12</td>
                    <td>2</td>
                    <td>12</td>
                    <td>4</td>
                    <td>5</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>13523694568</td>
                    <td>xxxx</td>
                    <td>12</td>
                    <td>2</td>
                    <td>12</td>
                    <td>4</td>
                    <td>5</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>13523694568</td>
                    <td>xxxx</td>
                    <td>12</td>
                    <td>2</td>
                    <td>12</td>
                    <td>4</td>
                    <td>5</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>13523694568</td>
                    <td>xxxx</td>
                    <td>12</td>
                    <td>2</td>
                    <td>12</td>
                    <td>4</td>
                    <td>5</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>13523694568</td>
                    <td>xxxx</td>
                    <td>12</td>
                    <td>2</td>
                    <td>12</td>
                    <td>4</td>
                    <td>5</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>13523694568</td>
                    <td>xxxx</td>
                    <td>12</td>
                    <td>2</td>
                    <td>12</td>
                    <td>4</td>
                    <td>5</td>
                    <td>1</td>
                </tr>
                </tbody>
            </table>
            <div class="pagenation clearfix">
                <a href="#">上一页</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <span>...</span>
                <a href="#">15</a>
                <a href="#">下一页</a>
                <form action="#" method="post">
                    <span>共5页</span><span>到第<input type="text" value="1">页 <input type="submit" class="btn btn-main" value="确定"/></span>
                </form>
            </div>
        </div>
    </div>
</div>