<div class="wrap roleManager">
  <div class="tb-head">健康教育印刷资料接收记录表</div>
  <div class="tb-content">
    <div class="tb-wrap">
      <div class="opt clearfix">
        <div class="pull-left form-inline">
          <div class="form-group">
            <select class="form-control" name="" id="">
              <option value="">请选择</option>
            </select>
          </div>
          <button type="button" class="btn btn-main">查询</button>
        </div>
        <div class="pull-right">
          <button type="button" class="btn btn-main">删除</button>
          <button type="button" class="btn btn-main">新增</button>
        </div>
      </div>
      <table cellspacing="0" class="table table-striped table-hover table-bordered">
        <thead>
          <th></th>
          <th>序号</th>
          <th>材料下发或制作机构</th>
          <th>材料名称</th>
          <th>材料类型</th>
          <th>接收数量（份）</th>
          <th>接收日期</th>
          <th>接收人</th>
          <th>接收机构</th>
          <th>操作</th>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td>xxxx</td>
            <td>xxxx</td>
            <td>xxxx</td>
            <td>111</td>
            <td>2012-01-01 00:00:00</td>
            <td>xxxx</td>
            <td>xxxx</td>
            <td class="text-center optCol">
              <a href="#">编辑</a>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td>xxxx</td>
            <td>xxxx</td>
            <td>xxxx</td>
            <td>111</td>
            <td>2012-01-01 00:00:00</td>
            <td>xxxx</td>
            <td>xxxx</td>
            <td class="text-center optCol">
              <a href="#">编辑</a>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td>xxxx</td>
            <td>xxxx</td>
            <td>xxxx</td>
            <td>111</td>
            <td>2012-01-01 00:00:00</td>
            <td>xxxx</td>
            <td>xxxx</td>
            <td class="text-center optCol">
              <a href="#">编辑</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagenation clearfix">
        <a href="#">上一页</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <span>...</span>
        <a href="#">15</a>
        <a href="#">下一页</a>
        <form action="#" method="post">
          <span>共5页</span><span>到第<input type="text" value="1">页 <input type="submit" class="btn btn-main" value="确定"/></span>
        </form>
      </div>
    </div>
  </div>
</div>