form{
    padding-top:.3rem;
}
table tr>td:first-child{
    text-align:right;
}
table td{
    vertical-align: top;
    padding:.2rem;
}
button{
    width:2.65rem;
    margin-right:.3rem;
}
input.form-control,select.form-control,textarea.form-control{
    width:10rem;
}