.commodityManagement-cats{
 margin: 10px 0;
}
.commodityManagement-pl20{
  padding-left: 20px;
}
.commodityManagement-cats .form-group{
  vertical-align: top;
  padding-right: 10px;
}
.prodmanageadd_allcheck{
  position: absolute;
  left: 24px;
  z-index: 11;
  top: 26px;
}
