.w144{
    width: 1.44rem!important;
}
.w798{
    width: 7.98rem!important;
}

.w188{
    width: 1.88rem!important;
}

.w376{
    width: 3.76rem!important;
}


.w552{
    width: 5.52rem!important;
}

.w313{
    width: 3.13rem!important;
}

.h-l-120{
    height: 1.2rem!important;
    line-height: 1.2rem!important;
}

.textarea{
    width: 12rem;
    height: 1.5rem;
}